Repository woowacourse-teams/2023-celuveat, pull requests merged in 2023-09, with the labels that each got.

#408 refactor: e2e 테스트 수정 및 ci설정
  .github/workflows/e2e.yml
  frontend/cypress/e2e/mapInteraction.cy.ts
  frontend/cypress/e2e/restaurantListInteraction.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/index.d.ts
  frontend/package.json
  frontend/src/components/@common/Map/hooks/useMap.ts
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
Labels: 🌏 infra

#406 bug: 데모데이간 나왔던 버그 수정
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/components/SuggestionButton/SuggestionButton.tsx
Labels: 🍔 frontend, 🔥 refactor, 🐞 bug

#402 feat: 데이터 저장 기능 고도화
  backend/src/main/java/com/celuveat/admin/application/AdminService.java
  backend/src/main/java/com/celuveat/admin/exception/AdminExceptionType.java
  backend/src/main/java/com/celuveat/admin/presentation/AdminController.java
  backend/src/main/java/com/celuveat/admin/presentation/dto/SaveDataRequest.java
  backend/src/main/java/com/celuveat/restaurant/domain/SocialMedia.java
  backend/src/test/java/com/celuveat/acceptance/admin/AdminAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/admin/AdminAcceptanceTest.java
  backend/src/test/java/com/celuveat/admin/application/AdminServiceTest.java
Labels: 🌱 backend, ✨ feat

#407 feat: LocalAuthController 구현
  backend/src/main/java/com/celuveat/auth/presentation/LocalAuthController.java
Labels: 🌱 backend, ✨ feat

#412 hotfix: E2E 테스트 및 CI 설정
  .github/workflows/e2e.yml
  frontend/cypress.config.ts
  frontend/cypress/e2e/mapInteraction.cy.ts
  frontend/cypress/e2e/restaurantListInteraction.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/index.d.ts
  frontend/package.json
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/Map/hooks/useMap.ts
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/components/SuggestionButton/SuggestionButton.tsx
Labels: 🌏 infra

#416 refactor: 구조 리팩토링
  backend/src/main/java/com/celuveat/admin/exception/AdminExceptionType.java
  backend/src/main/java/com/celuveat/auth/query/MemberQueryService.java
  backend/src/main/java/com/celuveat/auth/query/dao/MemberProfileResponseDao.java
  backend/src/main/java/com/celuveat/auth/query/dao/OauthMemberQueryDaoSupport.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/LocationSearchCondRequest.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/RestaurantSearchCondRequest.java
  backend/src/main/java/com/celuveat/restaurant/query/RestaurantEntityManagerQueryRepository.java
  backend/src/main/java/com/celuveat/restaurant/query/RestaurantQueryFacade.java
  backend/src/main/java/com/celuveat/restaurant/query/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantDetailResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantImageQueryDaoSupport.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantLikeQueryDaoSupport.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantLikeQueryResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantQueryDaoSupport.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantSimpleResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantWithDistanceDao.java
  backend/src/main/java/com/celuveat/video/presentation/VideoController.java
  backend/src/main/java/com/celuveat/video/presentation/dto/VideoSearchCondRequest.java
  backend/src/main/java/com/celuveat/video/query/VideoEntityManagerQueryRepository.java
  backend/src/main/java/com/celuveat/video/query/VideoQueryService.java
  backend/src/main/java/com/celuveat/video/query/dao/VideoQueryDaoSupport.java
  backend/src/main/java/com/celuveat/video/query/dao/VideoWithCelebQueryResponseDao.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceSteps.java
  backend/src/test/java/com/celuveat/auth/command/application/OauthServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/command/application/RestaurantQueryServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/command/domain/RestaurantWithDistanceDaoTest.java
  backend/src/test/java/com/celuveat/restaurant/fixture/LocationFixture.java
  backend/src/test/java/com/celuveat/video/query/VideoQueryServiceTest.java
  backend/src/test/java/com/celuveat/video/query/dao/VideoWithCelebQueryResponseDaoTest.java
Labels: 🌱 backend, 🔥 refactor

#431 refactor: 전역상태 분리 및 리팩터링
  frontend/.vscode/settings.json
  frontend/.webpack/webpack.common.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/User/index.ts
  frontend/src/api/index.ts
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/Map/OverlayMarkerList.tsx
  frontend/src/components/@common/Modal/Modal.tsx
  frontend/src/components/@common/Modal/ModalContent.stories.tsx
  frontend/src/components/@common/Modal/ModalContent.tsx
  frontend/src/components/@common/PopUp/PopUp.stories.tsx
  frontend/src/components/@common/PopUp/index.tsx
  frontend/src/components/@common/Toast/Toast.tsx
  frontend/src/components/@common/Toast/index.tsx
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.tsx
  frontend/src/components/MainPageNavBar/MainPageNavBar.tsx
  frontend/src/components/MainPageNavBar/index.tsx
  frontend/src/components/PopUpContainer/PopUpContainer.tsx
  frontend/src/components/PopUpContainer/index.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
  frontend/src/components/RestaurantDetailLikeButton/RestaurantDetailLikeButton.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/RestaurantReviewList/RestaurantReviewList.tsx
  frontend/src/components/RestaurantReviewWrapper/RestaurantReviewWrapper.tsx
  frontend/src/components/RestaurantWishItem/RestaurantWishItem.tsx
  frontend/src/components/ReviewForm/DeleteButton.tsx
  frontend/src/components/ReviewForm/ReviewForm.tsx
  frontend/src/components/SuggestionButton/SuggestionButton.tsx
  frontend/src/constants/options.ts
  frontend/src/hooks/ReviewModalProvider.tsx
  frontend/src/hooks/server/useRestaurantReview.ts
  frontend/src/hooks/server/useToggleLikeNotUpdate.ts
  frontend/src/hooks/server/useToggleRestaurantLike.ts
  frontend/src/hooks/store/useHoveredRestaurantState.ts
  frontend/src/hooks/store/useMapState.ts
  frontend/src/hooks/store/useModalState.ts
  frontend/src/hooks/store/useRestaurantsQueryStringState.ts
  frontend/src/hooks/store/useToastState.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/pages/WishListPage.tsx
  frontend/src/pages/WithdrawalPage.tsx
  frontend/src/utils/compare.ts
  frontend/yarn.lock
Labels: 🍔 frontend

#436 feat: 모바일 환경에서 이미지 캐러셀, 상세페이지 바텀시트 개선
  frontend/src/components/@common/ImageCarousel/ImageCarousel.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/SuggestionButton/SuggestionButton.tsx
  frontend/src/hooks/server/useRestaurantReview.ts
  frontend/src/mocks/fixtures.ts
  frontend/src/pages/RestaurantDetail.tsx
Labels: 🍔 frontend, ✨ feat, 🐞 bug

#448 fix: 로그아웃 시 브라우저 쿠키 지워주는 기능 제거
  backend/src/main/java/com/celuveat/auth/presentation/OauthController.java
Labels: 🌱 backend, 🐞 bug

#451 feat: msw dev prod 각 서버 요청 분기 처리
  frontend/src/App.tsx
  frontend/src/api/User/index.ts
  frontend/src/api/index.ts
  frontend/src/api/oauth.ts
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/InfoButton/InfoButton.tsx
  frontend/src/components/@common/Map/OverlayMarkerList.tsx
  frontend/src/components/MainPageNavBar/MainPageNavBar.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
  frontend/src/components/RestaurantWishList/RestaurantWishList.tsx
  frontend/src/components/ServerSelectBox/ServerSelectBox.tsx
  frontend/src/components/ServerSelectBox/index.tsx
  frontend/src/components/SuggestionButton/SuggestionButton.tsx
  frontend/src/hooks/server/useAPIClient.ts
  frontend/src/hooks/server/useCeleb.ts
  frontend/src/hooks/server/useDeleteUser.tsx
  frontend/src/hooks/server/useRestaurant.ts
  frontend/src/hooks/server/useRestaurantReview.ts
  frontend/src/hooks/server/useToggleLikeNotUpdate.ts
  frontend/src/hooks/server/useToggleRestaurantLike.ts
  frontend/src/hooks/server/useUser.ts
  frontend/src/hooks/store/useBaseURLState.ts
  frontend/src/pages/MobileMainPage.tsx
  frontend/src/pages/OauthRedirectPage.tsx
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/utils/getQueryString.ts
Labels: 🍔 frontend, 🔥 refactor

#445 feat: 반응형 개선 및 기타 UX 개선
  frontend/src/assets/icons/copy.svg
  frontend/src/assets/icons/youtube.svg
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/ImageCarousel/ImageCarousel.tsx
  frontend/src/components/@common/InfoButton/InfoButton.tsx
  frontend/src/components/@common/Map/MapContent.tsx
  frontend/src/components/@common/Map/hooks/useMap.ts
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.tsx
  frontend/src/components/InfoDropDown/InfoDropDown.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
  frontend/src/hooks/server/useAPIClient.ts
  frontend/src/hooks/server/useUser.ts
  frontend/src/pages/RestaurantDetail.tsx
Labels: 🍔 frontend, ✨ feat, 🎨 design

#459 feat: 인기순 및 거리순 필터링 기능 및 버그 수정
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/@common/ImageGrid/ImageGrid.stories.tsx
  frontend/src/components/@common/ImageGrid/ImageGrid.tsx
  frontend/src/components/@common/Map/OverlayMarkerList.tsx
  frontend/src/components/@common/Toast/Toast.tsx
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.tsx
  frontend/src/components/FilterSelectBox/FilterSelectBox.tsx
  frontend/src/components/FilterSelectBox/index.tsx
  frontend/src/components/LoginModalContent/LoginModalContent.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/server/useRestaurant.ts
  frontend/src/hooks/store/useRestaurantsQueryStringState.ts
  frontend/src/hooks/useOnClickOutside.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MobileMainPage.tsx
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/utils/getQueryString.ts
Labels: 🍔 frontend, ✨ feat

#460 fix: 각종 로그인 오류 버그 해결
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/LoginErrorHandleComponent/LoginErrorHandleComponent.tsx
  frontend/src/components/@common/LoginErrorHandleComponent/index.tsx
  frontend/src/components/@common/Map/OverlayMarkerList.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/RestaurantReviewWrapper/RestaurantReviewWrapper.tsx
  frontend/src/hooks/context/ReviewModalProvider.tsx
  frontend/src/hooks/server/useDeleteUser.ts
  frontend/src/hooks/server/useRestaurant.ts
  frontend/src/hooks/server/useRestaurantReview.ts
  frontend/src/mocks/browser.ts
  frontend/src/pages/MobileMainPage.tsx
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/pages/WishListPage.tsx
  frontend/src/pages/WithdrawalPage.tsx
Labels: 🐞 bug

#464 chore: package.json에서 api 환경 분리 + MSW 환경에서 Oauth 기능 동작 구현
  .github/workflows/frontend-ci.yml
  .github/workflows/frontend-dev-cd.yml
  .github/workflows/frontend-prod-cd.yml
  .github/workflows/release.yml
  frontend/.gitignore
  frontend/.webpack/webpack.config.js
  frontend/.webpack/webpack.dev.js
  frontend/.webpack/webpack.local.js
  frontend/.webpack/webpack.prod.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Map/OverlayMarkerList.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/ServerSelectBox/ServerSelectBox.tsx
  frontend/src/components/ServerSelectBox/index.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/context/ReviewModalProvider.tsx
  frontend/src/hooks/server/useAPIClient.ts
  frontend/src/hooks/store/useBaseURLState.ts
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/detailPage/handler.ts
  frontend/src/mocks/mainPage/handler.ts
  frontend/src/mocks/wishListPage/handler.ts
  frontend/yarn.lock
Labels: 🍔 frontend, 🐞 bug, ⚙ chore

#462 feat: 오버레이 마커 디자인 수정 및 모바일 대응
  frontend/public/index.html
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/RestaurantWishItem/RestaurantWishItem.tsx
  frontend/src/components/RestaurantWishList/RestaurantWishList.tsx
  frontend/src/pages/MobileMainPage.tsx
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/pages/WishListPage.tsx
  frontend/src/styles/base.ts
  frontend/src/styles/reset.ts
Labels: 🍔 frontend, ✨ feat, 🎨 design

#468 feat: 리뷰작성 디자인 수정 및 기타 버그 수정
  frontend/src/components/@common/Modal/ModalContent.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/RestaurantReviewWrapper/RestaurantReviewWrapper.tsx
  frontend/src/components/RestaurantWishItem/RestaurantWishItem.tsx
  frontend/src/components/ReviewForm/ReviewForm.tsx
  frontend/src/hooks/context/ReviewModalProvider.tsx
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/styles/reset.ts
Labels: 🍔 frontend, ✨ feat, 🐞 bug

#474 bug: 옵션관련 ux 개선
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/Map/hooks/useMap.ts
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
Labels: 🍔 frontend, ✨ feat

#475 feat: msw 환경 보강
  frontend/.vscode/settings.json
  frontend/src/@types/api.types.ts
  frontend/src/@types/restaurant.types.ts
  frontend/src/api/apiClient.ts
  frontend/src/api/celeb.ts
  frontend/src/api/restaurant.ts
  frontend/src/api/restaurantReview.ts
  frontend/src/api/user.ts
  frontend/src/components/@common/BottomSheet/BottomSheet.tsx
  frontend/src/components/@common/BottomSheet/BottomSheetHeader.tsx
  frontend/src/components/@common/BottomSheet/index.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Label/Label.stories.tsx
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/components/@common/Label/index.tsx
  frontend/src/components/@common/LoginButton/LoginButton.tsx
  frontend/src/components/@common/LoginErrorHandleComponent/LoginErrorHandleComponent.tsx
  frontend/src/components/@common/Map/OverlayMarkerList.tsx
  frontend/src/components/CelebBanner/CelebBanner.stories.tsx
  frontend/src/components/CelebBanner/CelebBanner.tsx
  frontend/src/components/CelebBanner/index.tsx
  frontend/src/components/InfoDropDown/InfoDropDown.tsx
  frontend/src/components/MainPageNavBar/MainPageNavBar.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.stories.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
  frontend/src/components/RestaurantReviewList/RestaurantReviewList.stories.tsx
  frontend/src/components/RestaurantWishItem/RestaurantWishItem.tsx
  frontend/src/components/RestaurantWishList/RestaurantWishList.tsx
  frontend/src/components/ReviewForm/ReviewForm.tsx
  frontend/src/components/SuggestionButton/SuggestionButton.tsx
  frontend/src/components/VideoPreview/VideoPreview.stories.tsx
  frontend/src/components/VideoPreview/VideoPreview.tsx
  frontend/src/components/VideoPreview/index.tsx
  frontend/src/constants/restaurantCategory.tsx
  frontend/src/hooks/server/useAPIClient.ts
  frontend/src/hooks/server/useCeleb.ts
  frontend/src/hooks/server/useDeleteUser.ts
  frontend/src/hooks/server/useRestaurant.ts
  frontend/src/hooks/server/useRestaurantReview.ts
  frontend/src/hooks/server/useToggleLikeNotUpdate.ts
  frontend/src/hooks/server/useToggleRestaurantLike.ts
  frontend/src/hooks/server/useUser.ts
  frontend/src/mocks/data/celebs.ts
  frontend/src/mocks/data/correction.ts
  frontend/src/mocks/data/restaurants.ts
  frontend/src/mocks/data/reviews.ts
  frontend/src/mocks/data/user.ts
  frontend/src/mocks/data/videos.ts
  frontend/src/mocks/detailPage/fixures.ts
  frontend/src/mocks/detailPage/handler.ts
  frontend/src/mocks/mainPage/fixures.ts
  frontend/src/mocks/mainPage/handler.ts
  frontend/src/mocks/wishListPage/fixures.ts
  frontend/src/mocks/wishListPage/handler.ts
  frontend/src/pages/MobileMainPage.tsx
  frontend/src/pages/OauthRedirectPage.tsx
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/utils/getQueryString.ts
Labels: 🍔 frontend, ✨ feat

#477 refactor: 모바일페이지 컴포넌트 분리
  frontend/src/App.tsx
  frontend/src/components/@common/Header/MobileHeader.tsx
  frontend/src/components/@common/Header/index.tsx
  frontend/src/components/BottomNavBar/BottomNavBar.tsx
  frontend/src/components/BottomNavBar/FilterButton.tsx
  frontend/src/components/BottomNavBar/FilterOptionsModal.tsx
  frontend/src/components/BottomNavBar/UserButton.tsx
  frontend/src/components/BottomNavBar/index.tsx
  frontend/src/components/LoginPageUI/LoginPageUI.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/hooks/store/useBottomSheetStatus.ts
  frontend/src/hooks/useScrollBlock.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MobileMainPage.tsx
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/pages/WishListPage.tsx
  frontend/src/router/Root.tsx
  frontend/src/router/Router.tsx
Labels: 🍔 frontend, 🔥 refactor

#481 refactor: 웹팩 최적화
  frontend/.webpack/webpack.prod.js
  frontend/package.json
  frontend/public/index.html
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handler/detailPage/handler.ts
  frontend/src/mocks/handler/index.ts
  frontend/src/mocks/handler/mainPage/handler.ts
  frontend/src/mocks/handler/wishListPage/handler.ts
  frontend/src/router/Router.tsx
Labels: 🍔 frontend, 🔥 refactor

#488 feat: loading 상태에 필요한 skeleton 제작
  frontend/src/components/@common/NavItem/NavItemSkeleton.tsx
  frontend/src/components/@common/NavItem/index.tsx
  frontend/src/components/MainPageNavBar/MainPageNavBarSkeleton.tsx
  frontend/src/components/MainPageNavBar/index.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/RestaurantDetail.tsx
Labels: 🍔 frontend, ✨ feat

#494 fix: tree-shaking으로 인해 css가 적용되지 않던 오류 해결
  frontend/.webpack/webpack.config.js
  frontend/package.json
  frontend/src/index.tsx
  frontend/yarn.lock
Labels: 🍔 frontend, 🐞 bug

#497 refactor: 지도 마커 및 음식점 카드 렌더링 시 깜빡임 현상 개선
  frontend/src/api/restaurant.ts
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/Map/OverlayMarkerList.tsx
  frontend/src/components/@common/ProfileImage/ProfileImage.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
  frontend/src/index.tsx
Labels: 🍔 frontend, 🔥 refactor

#500 fix: 웹 폰트 로드 전 대체제 넣기
  frontend/.webpack/webpack.config.js
  frontend/src/api/restaurant.ts
  frontend/src/assets/fonts/font.css
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/router/Root.tsx
Labels: 🐞 bug

#504 fix: 잘못된 api 명세로 인한 코드 수정
  frontend/src/api/restaurant.ts
  frontend/src/router/Root.tsx
Labels: 🍔 frontend, 🐞 bug

#507 refactor: 번들 사이즈 최적화
  frontend/src/components/@common/Footer/Footer.tsx
  frontend/src/components/@common/Header/MobileHeader.tsx
  frontend/src/components/@common/ImageCarousel/ImageCarousel.tsx
  frontend/src/components/@common/InfoButton/InfoButton.tsx
  frontend/src/components/@common/LoadingDots/LoadingDots.tsx
  frontend/src/components/@common/LoadingIndicator/LoadingIndicator.tsx
  frontend/src/components/@common/LoginButton/LoginButton.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/Map/OverlayMyLocation.tsx
  frontend/src/components/@common/Modal/Modal.tsx
  frontend/src/components/@common/NavItem/NavItem.tsx
  frontend/src/components/@common/NavItem/NavItemSkeleton.tsx
  frontend/src/components/@common/PageNationBar/PageNationBar.tsx
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.tsx
  frontend/src/components/BottomNavBar/BottomNavBar.tsx
  frontend/src/components/BottomNavBar/FilterButton.tsx
  frontend/src/components/BottomNavBar/FilterOptionsModal.tsx
  frontend/src/components/BottomNavBar/UserButton.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.tsx
  frontend/src/components/CelebDropDown/CelebDropDown.tsx
  frontend/src/components/FilterSelectBox/FilterSelectBox.tsx
  frontend/src/components/InfoDropDown/InfoDropDown.tsx
  frontend/src/components/InfoDropDown/InfoDropDownOption.tsx
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/components/LoginPageUI/LoginPageUI.tsx
  frontend/src/components/MainPageNavBar/MainPageNavBarSkeleton.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/RestaurantReviewList/RestaurantReviewList.tsx
  frontend/src/components/RestaurantReviewWrapper/RestaurantReviewWrapper.tsx
  frontend/src/components/ReviewForm/ReviewForm.tsx
  frontend/src/components/WithdrawalModalContent/WithdrawalModalContent.tsx
  frontend/src/pages/OauthRedirectPage.tsx
  frontend/src/pages/PrivacyPolicyPage.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/pages/WishListPage.tsx
  frontend/src/router/Root.tsx
  frontend/src/router/Router.tsx
Labels: 🍔 frontend, 🔥 refactor, 🦋 performance

#519 feat: 모바일 로그인 페이지 디자인
  frontend/.babelrc
  frontend/.webpack/webpack.config.js
  frontend/package.json
  frontend/src/assets/icons/celuveat-login-icon.svg
  frontend/src/assets/icons/restaurantCategory/izakaya.svg
  frontend/src/components/CategoryNavbar/CategoryNavbar.stories.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/RestaurantWishItem/RestaurantWishItem.tsx
  frontend/src/constants/restaurantCategory.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/yarn.lock
Labels: 🍔 frontend, ✨ feat

#523 refactor: 서브쿼리 분리를 통해 쿼리를 개선한다
  backend/src/main/java/com/celuveat/restaurant/command/application/RestaurantLikeService.java
  backend/src/main/java/com/celuveat/restaurant/command/domain/Restaurant.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantSimpleResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantWithDistanceDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/support/RestaurantLikeQueryDaoSupport.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantSimpleResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantWithDistance.java
  backend/src/test/java/com/celuveat/common/SeedData.java
  backend/src/test/java/com/celuveat/restaurant/query/RestaurantQueryServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/query/dao/RestaurantWithDistanceDaoTest.java
Labels: 🌱 backend, 🔥 refactor

#527 bug: 로그인 시 이전 페이지로 리다이렉트 중 관련 에러 + 로그아웃 버튼 클릭 관련 에러 해결
  frontend/src/api/restaurant.ts
  frontend/src/api/user.ts
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/LoginButton/LoginButton.tsx
  frontend/src/components/BottomNavBar/FilterOptionsModal.tsx
  frontend/src/components/BottomNavBar/UserButton.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.tsx
  frontend/src/constants/url.ts
  frontend/src/hooks/server/useAuth.ts
  frontend/src/pages/OauthRedirectPage.tsx
  frontend/src/utils/compare.ts
  frontend/src/utils/getQueryString.ts
Labels: 🍔 frontend, 🔥 refactor, 🐞 bug

#538 feat: 메인페이지, 검색결과 페이지 구현
  frontend/src/@types/celeb.types.ts
  frontend/src/@types/region.types.ts
  frontend/src/api/restaurant.ts
  frontend/src/assets/icons/black-love.svg
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/navmap.svg
  frontend/src/assets/icons/sign-in.svg
  frontend/src/components/@common/Header/MobileHeader.tsx
  frontend/src/components/@common/ImageCarousel/ImageCarousel.tsx
  frontend/src/components/@common/NavItem/NavItem.tsx
  frontend/src/components/@common/ProfileImage/ProfileImage.tsx
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.tsx
  frontend/src/components/BottomNavBar/BottomNavBar.tsx
  frontend/src/components/BottomNavBar/UserButton.tsx
  frontend/src/components/MiniRestaurantCard/MiniRestaurantCard.tsx
  frontend/src/components/MiniRestaurantCard/index.tsx
  frontend/src/components/RegionList/RegionList.tsx
  frontend/src/components/RegionList/index.tsx
  frontend/src/components/RestaurantDetailLikeButton/RestaurantDetailLikeButton.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/constants/celeb.ts
  frontend/src/constants/recommendedRegion.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/data/celebs.ts
  frontend/src/mocks/data/popularRestaurants.ts
  frontend/src/mocks/handler/index.ts
  frontend/src/mocks/handler/newMainPage/handler.ts
  frontend/src/pages/CelebResultPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MapPage.tsx
  frontend/src/pages/MobileMainPage.tsx
  frontend/src/pages/MobileMapPage.tsx
  frontend/src/pages/RegionResultPage.tsx
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/router/Root.tsx
  frontend/src/router/Router.tsx
Labels: 🍔 frontend, ✨ feat
