Repository woowacourse-teams/2023-celuveat, pull requests merged in 2023-08, with the labels that each got.

#217 bug: 지도 버그 수정
  frontend/src/components/@common/Map/Overlay/Overlay.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
Labels: 🍔 frontend, 🐞 bug

#224 bug: 음식점 조회 시 페이징이 이상하게 되는 오류 수정
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantQueryRepository.java
Labels: 🌱 backend, 🐞 bug

#223 feat: 웹 접근성 적용 (#220)
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.tsx
  frontend/src/components/InfoDropDown/InfoDropDown.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
Labels: 🍔 frontend, ✨ feat

#221 feat: 음식점 조회 시 페이징 적용
  frontend/src/api/index.ts
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/PageNationBar/PageNationBar.stories.tsx
  frontend/src/components/@common/PageNationBar/PageNationBar.tsx
  frontend/src/components/@common/PageNationBar/index.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/utils/getQueryString.ts
Labels: 🍔 frontend, ✨ feat

#232 infra: git-submodule 경로 수정
  .github/workflows/backend-ci.yml
  .gitmodules
Labels: 🌱 backend, 🌏 infra

#234 chore: 도메인 설정을 위한 webpack 수정
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.dev.js
  frontend/.webpack/webpack.prod.js
  frontend/package.json
  frontend/src/components/MapModalContent/MapModalContent.tsx
Labels: 🍔 frontend, ⚙ chore

#236 [⚙️Chore] 도메인 설정을 위한 webpack 수정
  frontend/src/components/@common/ImageCarousel/ImageCarousel.tsx
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.tsx
  frontend/src/index.tsx
Labels: 🍔 frontend, ⚙ chore

#289 feat: 셀럽 저장 api 구현
  backend/src/main/java/com/celuveat/admin/application/AdminService.java
  backend/src/main/java/com/celuveat/admin/exception/AdminExceptionType.java
  backend/src/main/java/com/celuveat/admin/presentation/AdminController.java
  backend/src/main/java/com/celuveat/admin/presentation/dto/SaveCelebRequest.java
  backend/src/test/java/com/celuveat/acceptance/admin/AdminAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/admin/AdminAcceptanceTest.java
  backend/src/test/java/com/celuveat/admin/application/AdminServiceTest.java
Labels: 🌱 backend, ✨ feat

#288 feat: 음식점 상세 조회 api 구현
  backend/src/main/java/com/celuveat/admin/presentation/dto/SaveDataRequest.java
  backend/src/main/java/com/celuveat/common/exception/ExceptionControllerAdvice.java
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantQueryFacade.java
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantService.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/RestaurantDetailQueryResponse.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/RestaurantImageQueryResponse.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/VideoWithCelebQueryResponse.java
  backend/src/main/java/com/celuveat/restaurant/domain/Coordinate.java
  backend/src/main/java/com/celuveat/restaurant/domain/Restaurant.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantImageRepository.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantLikeRepository.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/main/java/com/celuveat/video/domain/VideoRepository.java
  backend/src/test/java/com/celuveat/acceptance/celeb/CelebAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/common/SeedData.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantQueryFacadeTest.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantQueryServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/domain/CoordinateTest.java
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantFixture.java
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantImageFixture.java
Labels: 🌱 backend, ✨ feat

#284 feat: 좋아요 및 팝업 컴포넌트 구현
  frontend/src/@types/api.types.ts
  frontend/src/api/User/HttpUserInterceptor.ts
  frontend/src/api/User/index.ts
  frontend/src/api/index.ts
  frontend/src/components/@common/LoginButton/LoginButton.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/Modal/ModalContent.tsx
  frontend/src/components/@common/PopUp/PopUp.stories.tsx
  frontend/src/components/@common/PopUp/PopUp.tsx
  frontend/src/components/@common/PopUp/index.tsx
  frontend/src/components/MapModal/MapModal.stories.tsx
  frontend/src/components/PopUpContainer/PopUpContainer.tsx
  frontend/src/components/PopUpContainer/index.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.stories.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/hooks/server/useToggleRestaurantLike.ts
  frontend/src/hooks/store/useToastState.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/fixtures.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/utils/getToken.ts
Labels: 🍔 frontend, ✨ feat

#292 feat: 주변 음식점 조회 api 구현
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantQueryRepository.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantQueryServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/domain/RestaurantQueryRepositoryTest.java
Labels: 🌱 backend, ✨ feat

#285 feat: 지역 검색 기능
  frontend/src/assets/icons/search.svg
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/SearchBar/SearchBar.stories.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/components/SearchBar/index.tsx
  frontend/src/hooks/store/useMapState.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/styles/base.ts
Labels: 🍔 frontend, ✨ feat

#304 infra: CI 캐싱 추가(backend)
  .github/workflows/backend-ci.yml
Labels: 🌱 backend, 🌏 infra

#297 feat: 음식점 정보 수정 요청 api 작성
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantCorrectionService.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/SuggestCorrectionRequestCommand.java
  backend/src/main/java/com/celuveat/restaurant/domain/correction/RestaurantCorrection.java
  backend/src/main/java/com/celuveat/restaurant/domain/correction/RestaurantCorrectionRepository.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/SuggestCorrectionRequest.java
  backend/src/test/java/com/celuveat/acceptance/common/AcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceTest.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantCorrectionServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantServiceTestHelper.java
Labels: 🌱 backend, ✨ feat

#299 feat: 음식점 및 셀럽으로 영상 조회 api 구현
  backend/src/main/java/com/celuveat/celeb/exception/CelebException.java
  backend/src/main/java/com/celuveat/celeb/exception/CelebExceptionType.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/VideoWithCelebQueryResponse.java
  backend/src/main/java/com/celuveat/video/application/VideoQueryService.java
  backend/src/main/java/com/celuveat/video/application/dto/VideoWithCelebQueryResponse.java
  backend/src/main/java/com/celuveat/video/domain/VideoQueryRepository.java
  backend/src/main/java/com/celuveat/video/presentation/VideoController.java
  backend/src/main/java/com/celuveat/video/presentation/dto/VideoSearchCondRequest.java
  backend/src/test/java/com/celuveat/acceptance/video/VideoAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/video/VideoAcceptanceTest.java
  backend/src/test/java/com/celuveat/common/SeedData.java
  backend/src/test/java/com/celuveat/video/application/VideoQueryServiceTest.java
  backend/src/test/java/com/celuveat/video/domain/VideoQueryRepositoryTest.java
Labels: 🌱 backend, ✨ feat

#306 feat: 음식점 조회시 좋아요 조회수 포함 반환 기능 구현
  backend/src/main/java/com/celuveat/auth/config/AuthConfig.java
  backend/src/main/java/com/celuveat/auth/exception/AuthExceptionType.java
  backend/src/main/java/com/celuveat/auth/presentation/LooseAuthArgumentResolver.java
  backend/src/main/java/com/celuveat/common/auth/LooseAuth.java
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantQueryFacade.java
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/RestaurantQueryResponse.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantLikeRepository.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantQueryRepository.java
  backend/src/main/java/com/celuveat/restaurant/domain/dto/RestaurantIdWithCount.java
  backend/src/main/java/com/celuveat/restaurant/domain/dto/RestaurantWithDistance.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/test/java/com/celuveat/acceptance/common/AcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/video/VideoAcceptanceTest.java
  backend/src/test/java/com/celuveat/auth/fixture/OauthMemberFixture.java
  backend/src/test/java/com/celuveat/common/SeedData.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantQueryServiceTest.java
  backend/src/test/resources/truncate.sql
Labels: 🌱 backend, ✨ feat

#293 infra: cd 과정을 도커를 통해 진행한다
  .github/workflows/backend-dev-cd.yml
  .github/workflows/backend-prod-cd.yml
  backend/Dockerfile
Labels: 🌱 backend, 🌏 infra

#239 feat: 로깅 설정 추가
  backend/build.gradle
  backend/src/main/java/com/celuveat/CeluveatApplication.java
  backend/src/main/java/com/celuveat/auth/presentation/AuthInterceptor.java
  backend/src/main/java/com/celuveat/auth/presentation/LooseAuthArgumentResolver.java
  backend/src/main/java/com/celuveat/auth/presentation/OauthController.java
  backend/src/main/java/com/celuveat/common/auth/AuthConstant.java
  backend/src/main/java/com/celuveat/common/config/LogConfig.java
  backend/src/main/java/com/celuveat/common/exception/ExceptionControllerAdvice.java
  backend/src/main/java/com/celuveat/common/log/LogAop.java
  backend/src/main/java/com/celuveat/common/log/Logger.java
  backend/src/main/java/com/celuveat/common/log/context/AnonymousLogId.java
  backend/src/main/java/com/celuveat/common/log/context/AuthenticatedLogId.java
  backend/src/main/java/com/celuveat/common/log/context/LogContext.java
  backend/src/main/java/com/celuveat/common/log/context/LogContextHolder.java
  backend/src/main/java/com/celuveat/common/log/context/LogId.java
  backend/src/main/java/com/celuveat/common/log/query/ConnectionMethodInterceptor.java
  backend/src/main/java/com/celuveat/common/log/query/PreparedStatementMethodInterceptor.java
  backend/src/main/java/com/celuveat/common/log/query/QueryCountAop.java
  backend/src/main/java/com/celuveat/common/log/query/QueryCounter.java
  backend/src/main/java/com/celuveat/common/log/request/RequestInfoLogData.java
  backend/src/main/java/com/celuveat/common/log/request/RequestLogInterceptor.java
  backend/src/main/java/com/celuveat/common/log/request/ResponseInfoLogData.java
  backend/src/main/java/com/celuveat/common/log/request/messagebody/MessageBodyReader.java
  backend/src/main/java/com/celuveat/common/log/request/messagebody/ReadableRequestWrapper.java
  backend/src/main/java/com/celuveat/common/log/request/messagebody/RequestResponseChangeFilter.java
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/celuveat/acceptance/admin/AdminAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/celeb/CelebAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/common/AcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceTest.java
  backend/src/test/java/com/celuveat/common/IntegrationTest.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantLikeServiceTest.java
  backend/src/test/resources/application.yml
Labels: 🌱 backend, ✨ feat, 🌏 infra

#303 feat: 정보 수정 제안 기능
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
  frontend/src/api/index.ts
  frontend/src/assets/icons/checked-icon.svg
  frontend/src/assets/icons/unchecked-icon.svg
  frontend/src/components/MapModal/MapModal.stories.tsx
  frontend/src/components/MapModal/MapModal.tsx
  frontend/src/components/MapModal/index.tsx
  frontend/src/components/MapModalContent/MapModalContent.tsx
  frontend/src/components/MapModalContent/index.tsx
  frontend/src/components/SuggestionButton/SuggestionButton.stories.tsx
  frontend/src/components/SuggestionButton/SuggestionButton.tsx
  frontend/src/components/SuggestionButton/index.tsx
Labels: 🍔 frontend, ✨ feat

#318 feat: 음식점 상세 페이지 제작
  frontend/src/@types/api.types.ts
  frontend/src/App.tsx
  frontend/src/api/index.ts
  frontend/src/assets/icons/black-love.svg
  frontend/src/assets/icons/copy.svg
  frontend/src/assets/icons/external-link.svg
  frontend/src/assets/icons/love.svg
  frontend/src/assets/icons/oauth/naver.svg
  frontend/src/assets/icons/pencil.svg
  frontend/src/assets/icons/view.svg
  frontend/src/assets/icons/youtube.svg
  frontend/src/components/@common/ImageGrid/ImageGrid.stories.tsx
  frontend/src/components/@common/ImageGrid/ImageGrid.tsx
  frontend/src/components/@common/ImageGrid/index.tsx
  frontend/src/components/@common/LoginButton/LoginButton.tsx
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/Map/MapContent.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/Map/hooks/useMap.ts
  frontend/src/components/@common/ProfileImageList/ProfileImageList.tsx
  frontend/src/components/@common/VideoCarousel/VideoCarousel.stories.tsx
  frontend/src/components/@common/VideoCarousel/VideoCarousel.tsx
  frontend/src/components/@common/VideoCarousel/index.tsx
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/styles/common.ts
Labels: 🍔 frontend, ✨ feat

#326 feat: 로그아웃 기능 및 로그인 시 회원 프로필 기능 구현
  frontend/src/@types/api.types.ts
  frontend/src/api/oauth.ts
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/InfoButton/InfoButton.tsx
  frontend/src/components/@common/LoginButton/LoginButton.tsx
  frontend/src/components/RestaurantWishList/RestaurantWishList.tsx
  frontend/src/hooks/server/useToggleLikeNotUpdate.ts
  frontend/src/hooks/server/useToggleRestaurantLike.ts
  frontend/src/hooks/store/useTokenState.ts
  frontend/src/mocks/fixtures.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/OauthRedirectPage.tsx
Labels: 🍔 frontend, ✨ feat

#332 feat: 로그인 창 반응형 구현하기
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Modal/ModalContent.tsx
  frontend/src/components/LoginModalContent/LoginModalContent.tsx
  frontend/src/utils/getToken.ts
Labels: 🍔 frontend, ✨ feat, 🐞 bug

#336 feat: 음식점 상세 후기 UI 구현
  frontend/src/@types/api.types.ts
  frontend/src/@types/date.types.ts
  frontend/src/api/index.ts
  frontend/src/components/@common/InfoButton/InfoButton.tsx
  frontend/src/components/@common/Modal/ModalContent.stories.tsx
  frontend/src/components/@common/Modal/ModalContent.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.stories.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/RestaurantReviewItem/index.tsx
  frontend/src/components/RestaurantReviewList/RestaurantReviewList.stories.tsx
  frontend/src/components/RestaurantReviewList/RestaurantReviewList.tsx
  frontend/src/components/RestaurantReviewList/index.tsx
  frontend/src/components/RestaurantReviewWrapper/RestaurantReviewWrapper.tsx
  frontend/src/components/RestaurantReviewWrapper/index.tsx
  frontend/src/hooks/store/useModalState.ts
  frontend/src/hooks/useIsTextOverflow.ts
  frontend/src/mocks/fixtures.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/RestaurantDetail.tsx
Labels: 🍔 frontend, ✨ feat

#345 feat: 정보 수정 제안 공유하기 기능을 상세페이지에 추가 + 반응형 추가
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/ImageCarousel/ImageCarousel.tsx
  frontend/src/components/@common/Modal/ModalContent.tsx
  frontend/src/components/@common/VideoCarousel/VideoCarousel.tsx
  frontend/src/components/RestaurantDetailLikeButton/RestaurantDetailLikeButton.tsx
  frontend/src/components/RestaurantDetailLikeButton/index.tsx
  frontend/src/components/RestaurantReviewWrapper/RestaurantReviewWrapper.tsx
  frontend/src/components/SuggestionButton/SuggestionButton.tsx
  frontend/src/pages/RestaurantDetail.tsx
Labels: 🍔 frontend, 🔥 refactor, 🎨 design

#347 feat: 회원 탈퇴 기능 및 위시리스트 명세에 맞게 기능 수정
  frontend/.storybook/preview.tsx
  frontend/src/@types/api.types.ts
  frontend/src/App.tsx
  frontend/src/api/User/index.ts
  frontend/src/api/oauth.ts
  frontend/src/components/@common/Button/TextButton.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/LoginPageUI/LoginPageUI.stories.tsx
  frontend/src/components/LoginPageUI/LoginPageUI.tsx
  frontend/src/components/LoginPageUI/index.tsx
  frontend/src/components/RestaurantWishItem/RestaurantWishItem.tsx
  frontend/src/components/WithdrawalModalContent/WithdrawalModalContent.stories.tsx
  frontend/src/components/WithdrawalModalContent/WithdrawalModalContent.tsx
  frontend/src/components/WithdrawalModalContent/index.tsx
  frontend/src/constants/options.ts
  frontend/src/hooks/server/useDeleteUser.tsx
  frontend/src/hooks/server/useToggleLikeNotUpdate.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/fixtures.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/SignUpPage.tsx
  frontend/src/pages/WithdrawalPage.tsx
Labels: 🍔 frontend, ✨ feat

#334 feat: 카카오 oauth 회원탈퇴 api 구현
  backend/src/main/java/com/celuveat/auth/application/OauthService.java
  backend/src/main/java/com/celuveat/auth/domain/OauthId.java
  backend/src/main/java/com/celuveat/auth/domain/OauthMember.java
  backend/src/main/java/com/celuveat/auth/domain/client/OauthMemberClient.java
  backend/src/main/java/com/celuveat/auth/domain/client/OauthMemberClientComposite.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/google/client/GoogleMemberClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/client/KakaoApiClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/client/KakaoMemberClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/dto/KakaoLogoutResponse.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/naver/client/NaverMemberClient.java
  backend/src/main/java/com/celuveat/auth/presentation/OauthController.java
Labels: 🌱 backend, ✨ feat

#294 infra: cd 과정을 도커를 통해 진행한다
  .github/workflows/frontend-dev-cd.yml
  .github/workflows/frontend-prod-cd.yml
  frontend/Dockerfile
Labels: 🍔 frontend, 🌏 infra

#305 infra: CI 캐싱 추가(frontend)
  .github/workflows/frontend-ci.yml
Labels: 🍔 frontend, 🌏 infra

#337 feat: 리뷰 crud api 구현
  backend/src/main/java/com/celuveat/auth/application/MemberQueryService.java
  backend/src/main/java/com/celuveat/auth/application/dto/MemberProfileResponse.java
  backend/src/main/java/com/celuveat/auth/config/AuthConfig.java
  backend/src/main/java/com/celuveat/auth/presentation/AuthInterceptor.java
  backend/src/main/java/com/celuveat/auth/presentation/MemberController.java
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantReviewQueryService.java
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantReviewService.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/DeleteReviewCommand.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/RestaurantReviewQueryResponse.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/RestaurantReviewSingleResponse.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/SaveReviewRequestCommand.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/UpdateReviewRequestCommand.java
  backend/src/main/java/com/celuveat/restaurant/application/mapper/RestaurantRelocator.java
  backend/src/main/java/com/celuveat/restaurant/domain/review/RestaurantReview.java
  backend/src/main/java/com/celuveat/restaurant/domain/review/RestaurantReviewRepository.java
  backend/src/main/java/com/celuveat/restaurant/exception/RestaurantReviewException.java
  backend/src/main/java/com/celuveat/restaurant/exception/RestaurantReviewExceptionType.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/main/java/com/celuveat/restaurant/presentation/ReviewController.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/SaveReviewRequest.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/UpdateReviewRequest.java
  backend/src/test/java/com/celuveat/acceptance/auth/MemberAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/auth/MemberAcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/common/AcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/common/AcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantReviewAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantReviewAcceptanceTest.java
  backend/src/test/java/com/celuveat/auth/application/MemberQueryServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantQueryServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantReviewQueryServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantReviewServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantReviewFixture.java
  backend/src/test/resources/truncate.sql
Labels: 🌱 backend, ✨ feat

#340 feat: 데이터 저장시 여러 개의 음식점 사진을 저장할 수 있는 기능 구현
  backend/src/main/java/com/celuveat/admin/application/AdminService.java
  backend/src/main/java/com/celuveat/admin/presentation/dto/SaveDataRequest.java
  backend/src/test/java/com/celuveat/acceptance/admin/AdminAcceptanceTest.java
  backend/src/test/java/com/celuveat/admin/application/AdminServiceTest.java
Labels: 🌱 backend, ✨ feat

#357 refactor: 유튜브 영상 링크 변환하여 응답
  backend/src/main/java/com/celuveat/video/application/dto/VideoWithCelebQueryResponse.java
  backend/src/main/java/com/celuveat/video/domain/VideoQueryRepository.java
  backend/src/main/java/com/celuveat/video/utils/VideoResponseUtils.java
  backend/src/test/java/com/celuveat/acceptance/video/VideoAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/video/VideoAcceptanceTest.java
  backend/src/test/java/com/celuveat/common/SeedData.java
  backend/src/test/java/com/celuveat/video/utils/VideoResponseUtilsTest.java
Labels: 🌱 backend, 🔥 refactor

#349 feat: 댓글 CRUD 기능 구현 (스타일 X)
  frontend/src/@types/api.types.ts
  frontend/src/api/index.ts
  frontend/src/api/oauth.ts
  frontend/src/assets/icons/oauth/google.svg
  frontend/src/assets/icons/oauth/kakao.svg
  frontend/src/components/@common/LoginButton/LoginButton.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/PopUp/PopUp.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.stories.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/RestaurantReviewList/RestaurantReviewList.stories.tsx
  frontend/src/components/RestaurantReviewList/RestaurantReviewList.tsx
  frontend/src/components/RestaurantReviewWrapper/RestaurantReviewWrapper.tsx
  frontend/src/components/RestaurantWishList/RestaurantWishList.tsx
  frontend/src/components/ReviewForm/DeleteButton.tsx
  frontend/src/components/ReviewForm/ReviewForm.tsx
  frontend/src/hooks/server/useRestaurantReview.ts
  frontend/src/hooks/server/useToggleRestaurantLike.ts
  frontend/src/hooks/store/useModalState.ts
  frontend/src/hooks/store/useToastState.ts
  frontend/src/mocks/fixtures.ts
  frontend/src/mocks/handlers.ts
Labels: 🍔 frontend, ✨ feat

#365 bug: 각종 버그 수정
  frontend/src/components/@common/Footer/Footer.tsx
  frontend/src/components/CelebDropDown/CelebDropDown.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/RestaurantReviewWrapper/RestaurantReviewWrapper.tsx
  frontend/src/components/RestaurantWishItem/RestaurantWishItem.tsx
  frontend/src/components/ReviewForm/ReviewForm.tsx
Labels: 🍔 frontend, 🔥 refactor, 🐞 bug

#361 test: 비회원 기능 E2E 테스트
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/cypress/e2e/mapInteraction.cy.ts
  frontend/cypress/e2e/restaurantListInteraction.cy.ts
  frontend/cypress/fixtures/restaurants.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/support/index.d.ts
  frontend/package.json
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: 🍔 frontend

#366 feat: 개인정보처리방침 페이지 구현
  frontend/src/App.tsx
  frontend/src/components/@common/Footer/Footer.tsx
  frontend/src/pages/PrivacyPolicyPage.tsx
Labels: 🍔 frontend, ✨ feat

#378 feat: 클립보드 복사 시 팝업창 뜨기 구현
  frontend/src/App.tsx
  frontend/src/components/@common/LoginButton/LoginButton.tsx
  frontend/src/components/@common/PopUp/PopUp.tsx
  frontend/src/components/LoginModalContent/LoginModalContent.tsx
  frontend/src/components/PopUpContainer/PopUpContainer.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/RestaurantWishItem/RestaurantWishItem.tsx
  frontend/src/hooks/server/useDeleteUser.tsx
  frontend/src/pages/RestaurantDetail.tsx
Labels: 🍔 frontend, 🐞 bug

#384 fix: 로그인 정상 동작하도록 고치기
  frontend/src/App.tsx
  frontend/src/components/@common/LoginButton/LoginButton.tsx
  frontend/src/pages/OauthRedirectPage.tsx
Labels: 🍔 frontend, 🐞 bug

#379 refactor: 수정, 삭제 관련 ui 개선 (#358)
  frontend/src/App.tsx
  frontend/src/api/index.ts
  frontend/src/assets/icons/alert.svg
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/RestaurantReviewWrapper/RestaurantReviewWrapper.tsx
  frontend/src/components/ReviewForm/DeleteButton.tsx
  frontend/src/mocks/handlers.ts
Labels: 🍔 frontend, 🔥 refactor, 🎨 design

#370 refactor: authinterceptor path 관련 개선하기
  backend/src/main/java/com/celuveat/auth/application/OauthService.java
  backend/src/main/java/com/celuveat/auth/config/AuthConfig.java
  backend/src/main/java/com/celuveat/auth/domain/client/OauthMemberClient.java
  backend/src/main/java/com/celuveat/auth/domain/client/OauthMemberClientComposite.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/google/client/GoogleMemberClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/client/KakaoApiClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/client/KakaoMemberClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/naver/client/NaverMemberClient.java
  backend/src/main/java/com/celuveat/auth/presentation/AuthInterceptor.java
  backend/src/main/java/com/celuveat/auth/presentation/OauthController.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/RestaurantReviewSingleResponse.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantLikeRepository.java
  backend/src/main/java/com/celuveat/restaurant/domain/review/RestaurantReview.java
  backend/src/main/java/com/celuveat/restaurant/domain/review/RestaurantReviewRepository.java
  backend/src/test/java/com/celuveat/acceptance/auth/MemberAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/auth/MemberAcceptanceTest.java
  backend/src/test/java/com/celuveat/auth/application/OauthServiceTest.java
  backend/src/test/java/com/celuveat/auth/infra/kakao/FakeKakaoMemberClient.java
  backend/src/test/java/com/celuveat/restaurant/domain/RestaurantQueryRepositoryTest.java
Labels: 🌱 backend, 🔥 refactor

#382 refactor: 음식점 상세 조회 시 좋아요 여부 포함응답
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantQueryFacade.java
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/RestaurantDetailResponse.java
  backend/src/main/java/com/celuveat/restaurant/application/mapper/RestaurantMapper.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantLikeRepository.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantQueryFacadeTest.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantQueryServiceTest.java
Labels: 🌱 backend, 🔥 refactor

#372 Infra: 시맨틱 버저닝 yml 파일 구성
  .github/workflows/release.yml
  frontend/package.json
Labels: 🍔 frontend, 🌏 infra

#388 feat: 웹 표준 및 접근성 적용
  frontend/src/api/index.ts
  frontend/src/assets/icons/fastFood.svg
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/ImageGrid/ImageGrid.tsx
  frontend/src/components/@common/InfoButton/InfoButton.tsx
  frontend/src/components/@common/NavButton/NavButton.stories.tsx
  frontend/src/components/@common/NavButton/NavButton.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.tsx
  frontend/src/components/CelebDropDown/CelebDropDown.tsx
  frontend/src/components/InfoDropDown/InfoDropDown.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.stories.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/RestaurantDetail.tsx
  frontend/src/pages/WishListPage.tsx
Labels: 🍔 frontend, ✨ feat

#393 fix: 로그인 로그아웃 동작 수정
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/LoginButton/LoginButton.tsx
  frontend/src/hooks/server/useDeleteUser.tsx
  frontend/src/pages/RestaurantDetail.tsx
Labels: 🍔 frontend, 🐞 bug
