Repository woowacourse-teams/2023-celuveat, pull requests merged in 2023-10, with the labels that each got.

#534 feat: 지역별 음식점 조회 기능 작성
  backend/src/main/java/com/celuveat/restaurant/presentation/MainPageController.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/AddressSearchCondRequest.java
  backend/src/main/java/com/celuveat/restaurant/query/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantSimpleResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantWithDistanceDao.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/celeb/fixture/CelebFixture.java
  backend/src/test/java/com/celuveat/common/TestData.java
  backend/src/test/java/com/celuveat/common/TestDataCreator.java
  backend/src/test/java/com/celuveat/common/TestDataInserter.java
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantFixture.java
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantImageFixture.java
  backend/src/test/java/com/celuveat/restaurant/query/dao/RestaurantWithDistanceDaoTest.java
  backend/src/test/java/com/celuveat/video/fixture/VideoFixture.java
Labels: 🌱 backend, ✨ feat

#537 feat: 리뷰 좋아요, 신고하기 기능 추가
  frontend/package.json
  frontend/src/@types/api.types.ts
  frontend/src/@types/review.types.ts
  frontend/src/api/apiClient.ts
  frontend/src/api/restaurantReview.ts
  frontend/src/assets/icons/etc/groups.svg
  frontend/src/assets/icons/etc/speakerphone.svg
  frontend/src/assets/icons/etc/thumb-up.svg
  frontend/src/assets/icons/star/empty-left-star-icon.svg
  frontend/src/assets/icons/star/empty-right-star-icon.svg
  frontend/src/components/@common/ImageForm/ImageForm.stories.tsx
  frontend/src/components/@common/ImageForm/ImageForm.tsx
  frontend/src/components/@common/ImageForm/index.tsx
  frontend/src/components/@common/Star/HalfStar.stories.tsx
  frontend/src/components/@common/Star/HalfStar.tsx
  frontend/src/components/@common/Star/index.tsx
  frontend/src/components/@common/StarRating/StarRating.stories.tsx
  frontend/src/components/@common/StarRating/StarRating.tsx
  frontend/src/components/@common/StarRating/index.tsx
  frontend/src/components/@common/Toast/Toast.tsx
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.stories.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/RestaurantReviewList/RestaurantReviewList.stories.tsx
  frontend/src/components/RestaurantReviewList/RestaurantReviewList.tsx
  frontend/src/components/RestaurantReviewWrapper/RestaurantReviewWrapper.tsx
  frontend/src/components/ReviewForm/DeleteButton.tsx
  frontend/src/components/ReviewForm/ReviewDeleteForm.tsx
  frontend/src/components/ReviewForm/ReviewForm.tsx
  frontend/src/components/ReviewForm/ReviewReportForm.tsx
  frontend/src/components/ReviewForm/index.tsx
  frontend/src/components/ReviewImageForm/ReviewImageForm.stories.tsx
  frontend/src/components/ReviewImageForm/ReviewImageForm.tsx
  frontend/src/components/ReviewImageForm/index.tsx
  frontend/src/components/ReviewModal/ReviewModal.tsx
  frontend/src/components/ReviewModal/index.tsx
  frontend/src/hooks/context/ReviewModalProvider.tsx
  frontend/src/hooks/server/useCheckLogin.ts
  frontend/src/hooks/server/useRestaurantReview.ts
  frontend/src/mocks/data/reviews.ts
  frontend/src/mocks/handler/detailPage/handler.ts
  frontend/src/mocks/utils.ts
  frontend/src/utils/getQueryString.ts
  frontend/src/utils/image.ts
  frontend/yarn.lock
Labels: 🍔 frontend, ✨ feat

#544 feat: 공간데이터를 적용하여 음식점 조회 기능 개선
  backend/build.gradle
  backend/src/main/java/com/celuveat/administrativedistrict/domain/AdministrativeDistrict.java
  backend/src/main/java/com/celuveat/common/log/request/messagebody/MessageBodyReader.java
  backend/src/main/java/com/celuveat/common/query/DynamicQuery.java
  backend/src/main/java/com/celuveat/common/query/DynamicQueryAssembler.java
  backend/src/main/java/com/celuveat/common/query/DynamicQueryCondition.java
  backend/src/main/java/com/celuveat/restaurant/command/domain/Restaurant.java
  backend/src/main/java/com/celuveat/restaurant/presentation/MainPageController.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/AddressSearchCondRequest.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/DistrictCodeCondRequest.java
  backend/src/main/java/com/celuveat/restaurant/query/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantByAddressResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantDetailResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantSimpleResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantWithDistanceDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantByAddressResponse.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/restaurant/query/dao/RestaurantWithDistanceDaoTest.java
Labels: 🌱 backend, ✨ feat, 🚨warning

#547 feat: 위도 경도를 필수 조건으로 받지 않도록 변경한다
  backend/src/main/java/com/celuveat/common/exception/ExceptionControllerAdvice.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/LocationSearchCondRequest.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantWithDistanceDao.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceTest.java
  backend/src/test/java/com/celuveat/restaurant/fixture/LocationFixture.java
Labels: 🌱 backend, ✨ feat

#549 refactor: dao 리팩토링
  backend/src/main/java/com/celuveat/restaurant/presentation/MainPageController.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/LocationSearchCondRequest.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/RestaurantSearchCondRequest.java
  backend/src/main/java/com/celuveat/restaurant/query/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantDetailResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantLikeQueryResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantSearchResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantSimpleResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantWithDistanceDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/CelebQueryResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/LikedRestaurantQueryResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantDetailResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantImageQueryResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantSearchResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantSimpleResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantWithDistance.java
  backend/src/main/java/com/celuveat/restaurant/query/mapper/RestaurantRelocator.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceTest.java
  backend/src/test/java/com/celuveat/common/SeedData.java
  backend/src/test/java/com/celuveat/restaurant/fixture/LocationFixture.java
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantFixture.java
  backend/src/test/java/com/celuveat/restaurant/query/RestaurantQueryServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/query/dao/RestaurantSearchResponseDaoTest.java
Labels: 🌱 backend, 🔥 refactor

#564 fix: svg 관련 콘솔 에러 제거
  frontend/src/assets/icons/black-love.svg
  frontend/src/assets/icons/celuveat_cel.svg
  frontend/src/assets/icons/celuveat_eat.svg
  frontend/src/assets/icons/celuveat_luv.svg
  frontend/src/assets/icons/checked-icon.svg
  frontend/src/assets/icons/search.svg
  frontend/src/assets/icons/youtube.svg
Labels: 🍔 frontend, 🐞 bug

#566 feat: 바텀 네브 아이콘 클릭 시 효과 적용 (#565)
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/navmap.svg
  frontend/src/assets/icons/sign-in.svg
  frontend/src/components/BottomNavBar/BottomNavBar.tsx
Labels: 🍔 frontend, ✨ feat

#553 refactor: 리뷰 조회시 이미지, 평점, 좋아요 여부 포함하여 응답
  backend/src/main/java/com/celuveat/restaurant/command/application/RestaurantReviewLikeService.java
  backend/src/main/java/com/celuveat/restaurant/command/application/RestaurantReviewService.java
  backend/src/main/java/com/celuveat/restaurant/command/application/dto/SaveReviewRequestCommand.java
  backend/src/main/java/com/celuveat/restaurant/command/domain/Restaurant.java
  backend/src/main/java/com/celuveat/restaurant/command/domain/review/RestaurantReview.java
  backend/src/main/java/com/celuveat/restaurant/command/domain/review/RestaurantReviewRepository.java
  backend/src/main/java/com/celuveat/restaurant/presentation/ReviewController.java
  backend/src/main/java/com/celuveat/restaurant/query/RestaurantReviewQueryService.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantReviewQueryResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/support/RestaurantReviewImageQueryDaoSupport.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/support/RestaurantReviewLikeQueryDaoSupport.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/support/RestaurantReviewQueryDaoSupport.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantReviewQueryResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantReviewSingleResponse.java
  backend/src/test/java/com/celuveat/acceptance/common/AcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantReviewAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantReviewAcceptanceTest.java
  backend/src/test/java/com/celuveat/restaurant/command/application/RestaurantReviewLikeServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/command/application/RestaurantReviewServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantReviewFixture.java
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantReviewImageFixture.java
  backend/src/test/java/com/celuveat/restaurant/query/RestaurantReviewQueryServiceTest.java
Labels: 🌱 backend, 🔥 refactor

#554 refactor: 음식점 조회시 평점 평균 포함하여 응답
  backend/src/main/java/com/celuveat/restaurant/command/domain/Restaurant.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantSearchResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantDetailResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantSearchResponse.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceTest.java
  backend/src/test/java/com/celuveat/common/SeedData.java
  backend/src/test/java/com/celuveat/restaurant/query/RestaurantQueryServiceTest.java
Labels: 🌱 backend, 🔥 refactor

#561 feat: 최근 업데이트된 음식점 조회 api
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/main/java/com/celuveat/restaurant/query/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantSearchResponseDao.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/restaurant/query/dao/RestaurantSearchResponseDaoTest.java
Labels: 🌱 backend, ✨ feat

#546 feat: 셀럽잇 카테고리 조회 기능 구현
  backend/src/main/java/com/celuveat/admin/presentation/dto/SaveDataRequest.java
  backend/src/main/java/com/celuveat/restaurant/command/domain/Restaurant.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantByAddressResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantSearchResponseDao.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantByAddressResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantDetailResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantSearchResponse.java
  backend/src/main/java/com/celuveat/restaurant/query/dto/RestaurantWithDistance.java
  backend/src/test/java/com/celuveat/acceptance/admin/AdminAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantLikeAcceptanceTest.java
  backend/src/test/java/com/celuveat/admin/command/application/AdminServiceTest.java
  backend/src/test/java/com/celuveat/common/SeedData.java
  backend/src/test/java/com/celuveat/restaurant/command/application/RestaurantServiceTestHelper.java
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantFixture.java
  backend/src/test/java/com/celuveat/restaurant/query/RestaurantQueryServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/query/dao/RestaurantSearchResponseDaoTest.java
  backend/src/test/java/com/celuveat/restaurant/query/dao/RestaurantWithDistanceDaoTest.java
Labels: 🌱 backend, ✨ feat, 🚨warning

#570 feat: 음식점 상세페이지 공유하기 기능 구현 (#569)
  frontend/src/assets/icons/share.svg
  frontend/src/pages/RestaurantDetailPage/Header.tsx
Labels: 🍔 frontend, ✨ feat

#568 feat: 상세페이지 메타태그 추가
  frontend/package.json
  frontend/public/index.html
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/RestaurantDetailPage/RestaurantDetail.tsx
  frontend/src/router/Root.tsx
  frontend/yarn.lock
Labels: 🍔 frontend, ✨ feat

#571 feat: 변경된 추천 지역 api 적용
  frontend/src/api/restaurant.ts
  frontend/src/components/RegionList/RegionList.tsx
  frontend/src/constants/recommendedRegion.ts
  frontend/src/mocks/handler/newMainPage/handler.ts
  frontend/src/pages/RegionResultPage.tsx
Labels: 🍔 frontend, ✨ feat

#575 fix: api 명세 수정으로 인한 코드 수정(#573)
  frontend/src/components/ReviewForm/ReviewForm.tsx
Labels: 🍔 frontend, 🐞 bug

#580 fix: 모바일 로그인 시 로그인 페이지가 나오는 에러
  frontend/src/components/BottomNavBar/BottomNavBar.tsx
Labels: 🍔 frontend, 🐞 bug

#582 fix: 낙관적 업데이트로 인해 깜빡이는 오류
  frontend/src/hooks/server/useRestaurantReview.ts
Labels: 🍔 frontend, 🐞 bug

#587 feat: 모바일 지도페이지 뷰 수정
  frontend/.webpack/webpack.common.js
  frontend/cypress.config.ts
  frontend/cypress/e2e/restaurantListInteraction.cy.ts
  frontend/src/assets/icons/down.svg
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Header/MobileHeader.tsx
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/Map/hooks/useMap.ts
  frontend/src/components/BottomNavBar/BottomNavBar.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.tsx
  frontend/src/components/CelebDropDown/CelebDropDown.tsx
  frontend/src/components/MapPageNavBar/MapPageNavBar.tsx
  frontend/src/components/MiniRestaurantCard/MiniRestaurantCard.tsx
  frontend/src/constants/restaurantCategory.tsx
  frontend/src/hooks/store/useMapState.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MapPage.tsx
  frontend/src/pages/MobileMapPage.tsx
  frontend/src/pages/RegionResultPage.tsx
  frontend/src/pages/RestaurantDetailPage/NearByRestaurantCardList.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/router/Root.tsx
  frontend/src/utils/getClickedIcon.ts
  frontend/src/utils/getShortCategoryName.ts
Labels: 🍔 frontend, ✨ feat

#586 feat: 검색 결과페이지 무한 스크롤 구현
  frontend/src/api/restaurant.ts
  frontend/src/components/SearchResultBox/SearchResultBox.tsx
  frontend/src/components/SearchResultBox/index.tsx
  frontend/src/hooks/useIntersectionObserver.ts
  frontend/src/pages/CategoryResultPage.tsx
  frontend/src/pages/CelebResultPage.tsx
  frontend/src/pages/RegionResultPage.tsx
Labels: 🍔 frontend, ✨ feat

#589 bug: 모바일에서 음식점 카드 단일 사진으로 변경
  frontend/src/components/@common/ImageCarousel/ImageCarousel.tsx
  frontend/src/components/MiniRestaurantCard/MiniRestaurantCard.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/RestaurantDetailPage.tsx
  frontend/src/pages/RestaurantDetailPage/ImageViewer.tsx
  frontend/src/pages/RestaurantDetailPage/NearByRestaurantCardList.tsx
Labels: 🍔 frontend, ✨ feat

#595 feat: 유저 페이지 제작 및 위시리스트 연동
  frontend/src/assets/icons/navbar-heart.svg
  frontend/src/assets/icons/sign-in.svg
  frontend/src/assets/icons/user.svg
  frontend/src/components/@common/LoginButton/LoginButton.tsx
  frontend/src/components/BottomNavBar/BottomNavBar.tsx
  frontend/src/hooks/store/useBottomNavBarState.ts
  frontend/src/mocks/handler/detailPage/handler.ts
  frontend/src/pages/MapPage.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/pages/UserPage.tsx
  frontend/src/pages/WishListPage.tsx
  frontend/src/router/Router.tsx
  frontend/src/utils/getClickedIcon.ts
Labels: 🍔 frontend, ✨ feat

#596 refactor: 리뷰 관련 ui 수정
  frontend/src/assets/icons/etc/speakerphone.svg
  frontend/src/assets/icons/etc/thumb-up.svg
  frontend/src/components/@common/ImageForm/ImageForm.tsx
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/RestaurantReviewWrapper/RestaurantReviewWrapper.tsx
  frontend/src/components/ReviewForm/ReviewForm.tsx
  frontend/src/components/ReviewImageForm/ReviewImageForm.tsx
  frontend/src/pages/RestaurantDetailPage/RestaurantDetail.tsx
Labels: 🍔 frontend, ✨ feat, 🔥 refactor

#601 fix: 리뷰 작성 시 파일 네임 버그 수정 및 리뷰 아이템 ui 수정
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/ReviewForm/ReviewForm.tsx
Labels: 🍔 frontend, 🐞 bug

#607 feat: 음식점 카드에 별점 보여주기 기능 구현
  frontend/src/@types/api.types.ts
  frontend/src/components/MiniRestaurantCard/MiniRestaurantCard.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.stories.tsx
  frontend/src/components/SearchResultBox/SearchResultBox.tsx
  frontend/src/mocks/data/popularRestaurants.ts
  frontend/src/mocks/data/restaurants.ts
  frontend/src/pages/MobileMapPage.tsx
  frontend/src/pages/RegionResultPage.tsx
  frontend/src/pages/RestaurantDetailPage.tsx
  frontend/src/pages/RestaurantDetailPage/NearByRestaurantCardList.tsx
Labels: 🍔 frontend, ⚙ chore

#614 feat: 셀럽잇 추천 음식점 조회 api
  backend/src/main/java/com/celuveat/restaurant/command/domain/RestaurantRecommendation.java
  backend/src/main/java/com/celuveat/restaurant/command/domain/RestaurantRecommendationRepository.java
  backend/src/main/java/com/celuveat/restaurant/presentation/MainPageController.java
  backend/src/main/java/com/celuveat/restaurant/query/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/query/dao/RestaurantSearchWithoutDistanceQueryResponseDao.java
  backend/src/test/java/com/celuveat/common/TestData.java
  backend/src/test/java/com/celuveat/common/TestDataInserter.java
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantRecommendationFixture.java
  backend/src/test/java/com/celuveat/restaurant/query/dao/RestaurantSearchWithoutDistanceQueryResponseDaoTest.java
  backend/src/test/resources/truncate.sql
Labels: 🌱 backend, ✨ feat, 🚨warning

#613 feat: 최근 등록한 음식점 페이지 구현
  frontend/src/api/restaurant.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MobileMapPage.tsx
  frontend/src/pages/UpdatedRestaurantPage.tsx
  frontend/src/router/Root.tsx
  frontend/src/router/Router.tsx
Labels: 🍔 frontend, ✨ feat

#616 fix: 리뷰 관련 버그 수정
  frontend/src/components/RestaurantReviewItem/RestaurantReviewItem.tsx
  frontend/src/components/RestaurantReviewList/RestaurantReviewList.stories.tsx
  frontend/src/components/ReviewForm/ReviewDeleteForm.tsx
  frontend/src/components/ReviewForm/ReviewForm.tsx
  frontend/src/components/ReviewForm/ReviewReportForm.tsx
  frontend/src/components/ReviewImageForm/ReviewImageForm.stories.tsx
  frontend/src/components/ReviewImageForm/ReviewImageForm.tsx
  frontend/src/hooks/server/useRestaurantReview.ts
  frontend/src/mocks/data/reviews.ts
  frontend/src/mocks/handler/detailPage/handler.ts
  frontend/src/mocks/utils.ts
  frontend/src/utils/image.ts
Labels: 🍔 frontend, ✨ feat, 🐞 bug

#624 feat: 이벤트를 위한 api를 작성한다
  .github/workflows/backend-dev-cd.yml
  backend/src/main/java/com/celuveat/common/infra/aws/AwsS3ImageUploadClient.java
  backend/src/main/java/com/celuveat/event/command/application/EventImageNameGenerator.java
  backend/src/main/java/com/celuveat/event/command/application/EventImageUploadClient.java
  backend/src/main/java/com/celuveat/event/command/application/EventService.java
  backend/src/main/java/com/celuveat/event/command/application/dto/SubmitCommand.java
  backend/src/main/java/com/celuveat/event/command/domain/EventImage.java
  backend/src/main/java/com/celuveat/event/command/domain/EventImageRepository.java
  backend/src/main/java/com/celuveat/event/config/EventAsyncConfig.java
  backend/src/main/java/com/celuveat/event/config/EventAwsS3Property.java
  backend/src/main/java/com/celuveat/event/presentation/EventController.java
  backend/src/main/java/com/celuveat/event/presentation/dto/SubmitEventImageRequest.java
  backend/src/main/resources/application-local.yml
  backend/src/test/java/com/celuveat/event/command/application/EventImageNameGeneratorTest.java
  backend/src/test/java/com/celuveat/event/command/application/EventServiceTest.java
Labels: 🌱 backend, ✨ feat

#636 feat: 이벤트 배너 및 이벤트 페이지 구현 (#635)
  frontend/src/api/apiClient.ts
  frontend/src/api/event.ts
  frontend/src/components/MiniRestaurantCard/MiniRestaurantCard.tsx
  frontend/src/components/ReviewImageForm/ReviewImageForm.tsx
  frontend/src/constants/carouselSettings.tsx
  frontend/src/constants/celeb.ts
  frontend/src/constants/recommendedRegion.ts
  frontend/src/constants/restaurantCategory.tsx
  frontend/src/pages/EventDetailPage.tsx
  frontend/src/pages/EventFormPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MainPage/BannerSlider.tsx
  frontend/src/pages/RestaurantDetailPage/Header.tsx
  frontend/src/pages/RestaurantDetailPage/NearByRestaurantCardList.tsx
  frontend/src/router/Router.tsx
Labels: 🍔 frontend, ✨ feat

#638 feat: 기존 모달 celuveat-react-modal 패키지로 변경
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/@common/Modal/Modal.stories.tsx
  frontend/src/components/@common/Modal/Modal.tsx
  frontend/src/components/@common/Modal/index.tsx
  frontend/src/components/@common/Portal/Portal.tsx
  frontend/src/components/BottomNavBar/FilterButton.tsx
  frontend/src/components/BottomNavBar/FilterOptionsModal.tsx
  frontend/src/components/LoginModal/LoginModal.tsx
  frontend/src/components/ReviewModal/ReviewModal.tsx
  frontend/src/components/SuggestionButton/SuggestionButton.tsx
  frontend/yarn.lock
Labels: 🍔 frontend, ✨ feat, 🔥 refactor

#640 test: 메인 페이지 관련 msw 코드 작성 및 e2e 테스트 코드 작성
  .github/workflows/e2e.yml
  frontend/.eslintrc
  frontend/cypress.config.ts
  frontend/cypress/e2e/desktop/api.cy.ts
  frontend/cypress/e2e/desktop/like.cy.ts
  frontend/cypress/e2e/desktop/login.cy.ts
  frontend/cypress/e2e/mobile/login.cy.ts
  frontend/cypress/e2e/restaurantListInteraction.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/support/index.d.ts
  frontend/cypress/tsconfig.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/components/ReviewForm/ReviewForm.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/data/recommendation.ts
  frontend/src/mocks/data/region.ts
  frontend/src/mocks/handler/latestPages/handler.ts
  frontend/src/mocks/handler/newMainPage/handler.ts
  frontend/src/mocks/handler/regionPage/handler.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: 🍔 frontend, 📊 test

#641 hotfix: 리뷰 신고 존재 시 리뷰 삭제 되지 않는 오류 수정
  backend/src/main/java/com/celuveat/restaurant/command/application/RestaurantReviewService.java
  backend/src/main/java/com/celuveat/restaurant/command/domain/review/RestaurantReviewReportRepository.java
  backend/src/test/java/com/celuveat/restaurant/command/application/RestaurantReviewServiceTest.java
Labels: 🐞 bug

#634 fix: 사진없이 데이터 저장시 음식점 이미지가 공백으로 저장되는 버그 수정
  backend/src/main/java/com/celuveat/admin/command/application/AdminService.java
  backend/src/main/java/com/celuveat/celeb/exception/CelebExceptionType.java
  backend/src/test/java/com/celuveat/admin/command/application/AdminServiceTest.java
Labels: 🌱 backend, 🐞 bug
