Repository woowacourse-teams/2023-celuveat, pull requests merged in 2023-07, with the labels that each got.

#2 chore: 백엔드 프로젝트 초기 세팅
  .gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/celuveat/celuveat/CeluveatApplication.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/com/celuveat/celuveat/CeluveatApplicationTests.java
  backend/src/test/resources/application.yml
Labels: 🌱 backend, ⚙ chore

#4 feat: 공통으로 사용할 예외와 엔티티를 정의
  backend/src/main/java/com/celuveat/celuveat/common/config/JpaConfig.java
  backend/src/main/java/com/celuveat/celuveat/common/domain/BaseEntity.java
  backend/src/main/java/com/celuveat/celuveat/common/exception/BaseException.java
  backend/src/main/java/com/celuveat/celuveat/common/exception/BaseExceptionType.java
  backend/src/main/java/com/celuveat/celuveat/common/exception/ExceptionControllerAdvice.java
  backend/src/main/java/com/celuveat/celuveat/common/exception/ExceptionResponse.java
  backend/src/test/java/com/celuveat/celuveat/common/DataCleaner.java
  backend/src/test/java/com/celuveat/celuveat/common/DataClearExtension.java
Labels: 🌱 backend, ✨feat

#6 chore: jpa 의존성 제거
  backend/build.gradle
  backend/src/main/java/com/celuveat/celuveat/common/config/JpaConfig.java
  backend/src/main/java/com/celuveat/celuveat/common/domain/BaseEntity.java
  backend/src/main/resources/application-dev.yml
  backend/src/test/java/com/celuveat/celuveat/common/DataCleaner.java
  backend/src/test/java/com/celuveat/celuveat/common/DataClearExtension.java
Labels: 🌱 backend, ⚙ chore

#8 feat: 셀럽 음식점 영상 도메인 생성
  backend/src/main/java/com/celuveat/celuveat/celeb/Celeb.java
  backend/src/main/java/com/celuveat/celuveat/celeb/CelebException.java
  backend/src/main/java/com/celuveat/celuveat/celeb/CelebExceptionType.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/Category.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/Restaurant.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/RestaurantException.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/RestaurantExceptionType.java
  backend/src/main/java/com/celuveat/celuveat/video/Video.java
  backend/src/main/java/com/celuveat/celuveat/video/VideoException.java
  backend/src/main/java/com/celuveat/celuveat/video/VideoExceptionType.java
Labels: 🌱 backend, ✨feat

#31 chore: 프론트엔드 환경설정웹팩 바벨 수정
  frontend/.babelrc
  frontend/.eslintrc
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.config.js
  frontend/.webpack/webpack.dev.js
  frontend/.webpack/webpack.prod.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/yarn.lock
Labels: 🍔 frontend, ⚙ chore

#35 chore: 스토리북 글로벌 스타일 적용
  frontend/.storybook/preview.ts
  frontend/package.json
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/styles/GlobalStyles.tsx
  frontend/src/styles/base.tsx
  frontend/src/styles/reset.tsx
  frontend/yarn.lock
Labels: 🍔 frontend, ⚙ chore

#37 feat: 셀럽 전체 조회 API 구현
  backend/src/main/java/com/celuveat/celuveat/CeluveatApplication.java
  backend/src/main/java/com/celuveat/celuveat/celeb/application/CelebQueryService.java
  backend/src/main/java/com/celuveat/celuveat/celeb/application/dto/FindAllCelebResponse.java
  backend/src/main/java/com/celuveat/celuveat/celeb/domain/Celeb.java
  backend/src/main/java/com/celuveat/celuveat/celeb/exception/CelebException.java
  backend/src/main/java/com/celuveat/celuveat/celeb/exception/CelebExceptionType.java
  backend/src/main/java/com/celuveat/celuveat/celeb/infra/persistence/CelebDao.java
  backend/src/main/java/com/celuveat/celuveat/celeb/infra/persistence/CelebQueryDao.java
  backend/src/main/java/com/celuveat/celuveat/celeb/presentation/CelebController.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/Category.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/domain/Category.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/domain/Restaurant.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/exception/RestaurantException.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/exception/RestaurantExceptionType.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/infra/persistence/RestaurantDao.java
  backend/src/main/java/com/celuveat/celuveat/video/domain/Video.java
  backend/src/main/java/com/celuveat/celuveat/video/exception/VideoException.java
  backend/src/main/java/com/celuveat/celuveat/video/exception/VideoExceptionType.java
  backend/src/main/java/com/celuveat/celuveat/video/infra/persistence/VideoDao.java
  backend/src/test/java/com/celuveat/celuveat/CeluveatApplicationTests.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/celeb/CelebAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/celeb/application/CelebQueryServiceTest.java
  backend/src/test/java/com/celuveat/celuveat/celeb/fixture/CelebFixture.java
  backend/src/test/java/com/celuveat/celuveat/celeb/infra/persistence/CelebDaoTest.java
  backend/src/test/java/com/celuveat/celuveat/celeb/infra/persistence/CelebQueryDaoTest.java
  backend/src/test/java/com/celuveat/celuveat/celeb/infra/persistence/FakeCelebDao.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/fixture/RestaurantFixture.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/infra/persistence/RestaurantDaoTest.java
  backend/src/test/java/com/celuveat/celuveat/video/fixture/VideoFixture.java
  backend/src/test/java/com/celuveat/celuveat/video/infra/persistence/VideoDaoTest.java
Labels: 🌱 backend, ✨feat

#39 fix: font 관련 globalStyle 수정 및 전역 declare types 설정
  frontend/.webpack/webpack.common.js
  frontend/src/@types/global.d.ts
  frontend/src/assets/fonts/SUIT-Bold.woff2
  frontend/src/assets/fonts/SUIT-Medium.woff2
  frontend/src/assets/fonts/SUIT-Regular.woff2
  frontend/src/index.tsx
  frontend/src/styles/GlobalStyles.tsx
  frontend/src/styles/base.tsx
  frontend/src/styles/common.tsx
  frontend/src/styles/fonts.tsx
  frontend/src/styles/reset.tsx
Labels: 🍔 frontend, 🐞 bug, ⚙ chore

#41 feat: Label 컴포넌트 구현
  frontend/src/components/@common/Label/Label.stories.tsx
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/components/@common/Label/index.tsx
  frontend/src/styles/common.tsx
Labels: 🍔 frontend, ✨feat

#42 feat: Header와 프로필 이미지를 만드는 컴포넌트 구현
  frontend/src/assets/logo.png
  frontend/src/components/@common/Header/Header.stories.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Header/index.tsx
  frontend/src/components/@common/ProfileImage/ProfileImage.stories.tsx
  frontend/src/components/@common/ProfileImage/ProfileImage.tsx
  frontend/src/components/@common/ProfileImage/index.tsx
  frontend/src/styles/reset.tsx
Labels: 🍔 frontend, ✨feat

#49 feat: 레스토랑 카드 컴포넌트 구현
  frontend/.storybook/main.ts
  frontend/.webpack/webpack.common.js
  frontend/package.json
  frontend/src/@types/global.d.ts
  frontend/src/assets/icons/star.svg
  frontend/src/components/@common/Label/Label.stories.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.stories.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/RestaurantCard/index.tsx
  frontend/src/styles/base.tsx
  frontend/yarn.lock
Labels: 🍔 frontend, ✨ feat

#52 feat: button 추상화 컴포넌트 제작
  frontend/package.json
  frontend/src/components/@common/Button/TextButton.stories.tsx
  frontend/src/components/@common/Button/TextButton.tsx
  frontend/src/components/@common/Button/index.tsx
Labels: 🍔 frontend, ✨ feat

#65 style: tsx 형식이 포함되지 않은 파일 확장자 ts로 변경
  frontend/src/styles/GlobalStyles.ts
  frontend/src/styles/base.ts
  frontend/src/styles/common.ts
  frontend/src/styles/fonts.ts
  frontend/src/styles/reset.ts
Labels: 🍔 frontend, 💎 style

#66 refactor: 일부 lint 규칙 제거
  frontend/.eslintrc
  frontend/src/components/@common/Button/TextButton.tsx
  frontend/src/components/@common/ProfileImage/ProfileImage.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
Labels: 🍔 frontend, 🔥 refactor

#61 feat: 음식점의 영상 조회 api 구현
  backend/src/main/java/com/celuveat/celuveat/video/application/VideoQueryService.java
  backend/src/main/java/com/celuveat/celuveat/video/application/dto/FindAllVideoByRestaurantIdResponse.java
  backend/src/main/java/com/celuveat/celuveat/video/infra/persistence/VideoQueryDao.java
  backend/src/main/java/com/celuveat/celuveat/video/presentation/VideoController.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/celeb/CelebAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/celeb/CelebAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/common/AcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/common/CommonAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/video/VideoAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/video/VideoAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/celeb/application/CelebQueryServiceTest.java
  backend/src/test/java/com/celuveat/celuveat/celeb/fixture/CelebFixture.java
  backend/src/test/java/com/celuveat/celuveat/celeb/infra/persistence/FakeCelebDao.java
  backend/src/test/java/com/celuveat/celuveat/celeb/infra/persistence/FakeCelebQueryDao.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/fixture/RestaurantFixture.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/infra/persistence/RestaurantDaoTest.java
  backend/src/test/java/com/celuveat/celuveat/video/application/VideoQueryServiceTest.java
  backend/src/test/java/com/celuveat/celuveat/video/fixture/VideoFixture.java
  backend/src/test/java/com/celuveat/celuveat/video/infra/persistence/FakeVideoQueryDao.java
  backend/src/test/java/com/celuveat/celuveat/video/infra/persistence/VideoDaoTest.java
  backend/src/test/java/com/celuveat/celuveat/video/infra/persistence/VideoQueryDaoTest.java
  backend/src/test/resources/truncate.sql
Labels: 🌱 backend, ✨ feat

#72 feat: 특정 셀럽 조회 api 구현
  backend/src/main/java/com/celuveat/celuveat/celeb/application/CelebQueryService.java
  backend/src/main/java/com/celuveat/celuveat/celeb/application/dto/FindCelebByIdResponse.java
  backend/src/main/java/com/celuveat/celuveat/celeb/infra/persistence/CelebQueryDao.java
  backend/src/main/java/com/celuveat/celuveat/celeb/presentation/CelebController.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/celeb/CelebAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/celeb/CelebAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/video/VideoAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/celeb/application/CelebQueryServiceTest.java
  backend/src/test/java/com/celuveat/celuveat/celeb/fixture/CelebFixture.java
  backend/src/test/java/com/celuveat/celuveat/celeb/infra/persistence/CelebQueryDaoTest.java
  backend/src/test/java/com/celuveat/celuveat/celeb/infra/persistence/FakeCelebQueryDao.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/fixture/RestaurantFixture.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/infra/persistence/FakeRestaurantDao.java
  backend/src/test/java/com/celuveat/celuveat/video/infra/persistence/FakeVideoDao.java
Labels: 🌱 backend, ✨ feat

#70 fix: globalStyles에 존재하는 문제 개선 및 네이밍 수정
  frontend/src/components/@common/Button/TextButton.tsx
  frontend/src/styles/GlobalStyles.ts
  frontend/src/styles/base.ts
  frontend/src/styles/reset.ts
Labels: 🍔 frontend, 🔥 refactor, 🐞 bug

#73 feat: 특정 음식점 조회 api 구현
  backend/src/main/java/com/celuveat/celuveat/restaurant/application/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/domain/Restaurant.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/application/RestaurantQueryServiceTest.java
Labels: 🌱 backend, ✨ feat

#80 feat: 셀럽으로 음식점 조회 api 구현
  backend/src/main/java/com/celuveat/celuveat/common/config/WebConfig.java
  backend/src/main/java/com/celuveat/celuveat/common/page/Page.java
  backend/src/main/java/com/celuveat/celuveat/common/page/PageCond.java
  backend/src/main/java/com/celuveat/celuveat/common/page/PageCondArgumentResolver.java
  backend/src/main/java/com/celuveat/celuveat/common/page/SliceResponse.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/application/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/application/dto/RestaurantSearchResponse.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/infra/persistence/RestaurantQueryDao.java
  backend/src/main/java/com/celuveat/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/main/java/com/celuveat/celuveat/video/domain/Video.java
  backend/src/main/java/com/celuveat/celuveat/video/domain/VideoHistory.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/common/CommonAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/common/page/PageCondArgumentResolverTest.java
  backend/src/test/java/com/celuveat/celuveat/common/page/PageCondTest.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/application/RestaurantQueryServiceTest.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/fixture/RestaurantFixture.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/infra/persistence/FakeRestaurantQueryDao.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/infra/persistence/RestaurantQueryDaoTest.java
  backend/src/test/java/com/celuveat/celuveat/video/fixture/VideoFixture.java
  backend/src/test/java/com/celuveat/celuveat/video/infra/persistence/FakeVideoDao.java
  backend/src/test/resources/schema.sql
Labels: 🌱 backend, ✨ feat

#68 feat: 셀럽 베너 컴포넌트 구현
  frontend/package.json
  frontend/src/components/CelebBanner/CelebBanner.stories.tsx
  frontend/src/components/CelebBanner/CelebBanner.tsx
  frontend/src/components/CelebBanner/index.tsx
Labels: 🍔 frontend, ✨ feat

#53 feat: 비디오 미리보기 컴포넌트 구현
  frontend/src/components/VideoPreview/VideoPreview.stories.tsx
  frontend/src/components/VideoPreview/VideoPreview.tsx
  frontend/src/components/VideoPreview/index.tsx
  frontend/src/hooks/useBooleanState.tsx
  frontend/src/styles/common.ts
  frontend/src/utils/formatDateToKorean.ts
Labels: 🍔 frontend, ✨ feat

#56 feat: SearchbarDropDown 컴포넌트 구현
  frontend/.webpack/webpack.common.js
  frontend/src/@types/celebs.types.ts
  frontend/src/assets/icons/search.svg
  frontend/src/components/@common/Searchbar/SearchbarDropDown.stories.tsx
  frontend/src/components/@common/Searchbar/SearchbarDropDown.tsx
  frontend/src/components/@common/Searchbar/SearchbarInput.tsx
  frontend/src/components/@common/Searchbar/SearchbarSelectBox.tsx
  frontend/src/components/@common/Searchbar/hooks/useSearchbarRef.tsx
  frontend/src/components/@common/Searchbar/index.tsx
Labels: 🍔 frontend, ✨ feat, 🐞 bug, ⚙ chore

#93 feat: 관리자 로그인 api 구현
  backend/build.gradle
  backend/src/main/java/com/celuveat/celuveat/admin/application/AdminService.java
  backend/src/main/java/com/celuveat/celuveat/admin/application/dto/AdminLoginResponse.java
  backend/src/main/java/com/celuveat/celuveat/admin/domain/Admin.java
  backend/src/main/java/com/celuveat/celuveat/admin/domain/PasswordMatcher.java
  backend/src/main/java/com/celuveat/celuveat/admin/exception/AdminException.java
  backend/src/main/java/com/celuveat/celuveat/admin/exception/AdminExceptionType.java
  backend/src/main/java/com/celuveat/celuveat/admin/infra/encoder/BcryptPasswordMatcher.java
  backend/src/main/java/com/celuveat/celuveat/admin/infra/persistence/AdminDao.java
  backend/src/main/java/com/celuveat/celuveat/admin/presentation/AdminController.java
  backend/src/main/java/com/celuveat/celuveat/admin/presentation/dto/AdminLoginRequest.java
  backend/src/main/java/com/celuveat/celuveat/common/auth/AuthSession.java
  backend/src/main/resources/application-dev.yml
  backend/src/test/java/com/celuveat/celuveat/acceptance/admin/AdminAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/admin/AdminAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/common/AcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/common/CommonAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/admin/application/AdminServiceTest.java
  backend/src/test/java/com/celuveat/celuveat/admin/domain/AdminTest.java
  backend/src/test/java/com/celuveat/celuveat/admin/fixture/AdminFixture.java
  backend/src/test/java/com/celuveat/celuveat/admin/infra/encoder/BcryptPasswordMatcherTest.java
  backend/src/test/java/com/celuveat/celuveat/admin/infra/encoder/FakePasswordMatcher.java
  backend/src/test/java/com/celuveat/celuveat/admin/infra/persistence/AdminDaoTest.java
  backend/src/test/java/com/celuveat/celuveat/admin/infra/persistence/FakeAdminDao.java
  backend/src/test/resources/schema.sql
  backend/src/test/resources/truncate.sql
Labels: 🌱 backend, ✨ feat, 💻 admin

#98 feat: dev 환경에서 사용할 테이블 어드민 등록 스크립트 작성
  backend/src/main/java/com/celuveat/celuveat/admin/presentation/AdminController.java
  backend/src/main/java/com/celuveat/celuveat/admin/presentation/dto/AdminLoginRequest.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/sql/data.sql
  backend/src/main/resources/sql/schema.sql
  backend/src/test/resources/application.yml
Labels: 🌱 backend, ✨ feat

#71 feat: 지도 컴포넌트 구현
  frontend/.storybook/main.ts
  frontend/.webpack/webpack.common.js
  frontend/package.json
  frontend/public/index.html
  frontend/src/@types/global.d.ts
  frontend/src/components/@common/Map/Map.stories.tsx
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/Map/index.tsx
  frontend/yarn.lock
Labels: 🍔 frontend, ✨ feat

#99 feat: cors 설정
  backend/src/main/java/com/celuveat/celuveat/common/config/WebConfig.java
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Labels: 🌱 backend, ✨ feat

#100 feat: 관리자 로그인 페이지 구현
  admin/.gitignore
  admin/package-lock.json
  admin/package.json
  admin/public/favicon.ico
  admin/public/index.html
  admin/public/logo192.png
  admin/public/logo512.png
  admin/public/manifest.json
  admin/public/robots.txt
  admin/src/common/Common.css
  admin/src/common/Config.js
  admin/src/components/button/Button.css
  admin/src/components/button/Button.js
  admin/src/components/inputbox/InputBox.css
  admin/src/components/inputbox/InputBox.js
  admin/src/index.css
  admin/src/index.js
  admin/src/pages/login/HandleLogin.js
  admin/src/pages/login/LoginPage.css
  admin/src/pages/login/LoginPage.js
  admin/src/pages/login/logo.png
  admin/src/pages/main/MainPage.js
  admin/src/pages/notfound/NotFound.js
Labels: 🌱 backend, ✨ feat, 💻 admin

#102 feat: 셀럽의 새로운 유튜브 영상 데이터 조회 api 구현
  backend/src/main/java/com/celuveat/celuveat/admin/presentation/AdminVideoHistoryController.java
  backend/src/main/java/com/celuveat/celuveat/video/application/VideoHistoryQueryService.java
  backend/src/main/java/com/celuveat/celuveat/video/application/dto/FindAllVideoHistoryResponse.java
  backend/src/main/java/com/celuveat/celuveat/video/infra/persistence/VideoHistoryQueryDao.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/admin/AdminAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/common/AcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/video/AdminVideoHistoryAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/video/VideoHistoryAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/admin/fixture/AdminFixture.java
  backend/src/test/java/com/celuveat/celuveat/video/application/VideoHistoryQueryServiceTest.java
  backend/src/test/java/com/celuveat/celuveat/video/fixture/VideoHistoryFixture.java
  backend/src/test/java/com/celuveat/celuveat/video/infra/persistence/FakeVideoHistoryQueryDao.java
  backend/src/test/java/com/celuveat/celuveat/video/infra/persistence/VideoHistoryQueryDaoTest.java
Labels: 🌱 backend, ✨ feat, 💻 admin

#104 feat: 어드민 요청 시 어드민 권한이 있는지 검사하는 Interceptor 등록
  backend/src/main/java/com/celuveat/celuveat/admin/config/AdminWebConfig.java
  backend/src/main/java/com/celuveat/celuveat/admin/exception/AdminExceptionType.java
  backend/src/main/java/com/celuveat/celuveat/admin/presentation/AdminAuthController.java
  backend/src/main/java/com/celuveat/celuveat/admin/presentation/interceptor/AdminAuthInterceptor.java
  backend/src/main/java/com/celuveat/celuveat/celeb/application/dto/FindCelebByIdResponse.java
  backend/src/main/java/com/celuveat/celuveat/celeb/domain/Celeb.java
  backend/src/main/java/com/celuveat/celuveat/celeb/infra/persistence/CelebQueryDao.java
  backend/src/main/java/com/celuveat/celuveat/common/page/PageCondArgumentResolver.java
  backend/src/main/resources/sql/schema.sql
  backend/src/test/java/com/celuveat/celuveat/acceptance/admin/AdminAuthAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/admin/AdminAuthAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/admin/AdminVideoHistoryAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/admin/AdminVideoHistoryAcceptanceTest.java
  backend/src/test/java/com/celuveat/celuveat/acceptance/common/CommonAcceptanceSteps.java
  backend/src/test/java/com/celuveat/celuveat/admin/application/AdminServiceTest.java
  backend/src/test/java/com/celuveat/celuveat/admin/fixture/AdminFixture.java
  backend/src/test/java/com/celuveat/celuveat/admin/infra/persistence/FakeAdminDao.java
  backend/src/test/java/com/celuveat/celuveat/celeb/fixture/CelebFixture.java
  backend/src/test/java/com/celuveat/celuveat/celeb/infra/persistence/CelebQueryDaoTest.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/application/RestaurantQueryServiceTest.java
  backend/src/test/java/com/celuveat/celuveat/restaurant/infra/persistence/RestaurantQueryDaoTest.java
Labels: 🌱 backend, ✨ feat, 💻 admin

#117 fix: videohistory의 videoid 필드명 수정
  backend/src/main/java/com/celuveat/celuveat/restaurantvideohistoryfetcher/infra/youtube/dto/video/VideoListResponse.java
  backend/src/main/java/com/celuveat/celuveat/video/application/dto/FindAllVideoByRestaurantIdResponse.java
  backend/src/main/java/com/celuveat/celuveat/video/application/dto/FindAllVideoHistoryResponse.java
  backend/src/main/java/com/celuveat/celuveat/video/domain/Video.java
  backend/src/main/java/com/celuveat/celuveat/video/domain/VideoHistory.java
  backend/src/main/java/com/celuveat/celuveat/video/infra/persistence/VideoQueryDao.java
  backend/src/main/resources/sql/schema.sql
  backend/src/test/java/com/celuveat/celuveat/video/fixture/VideoFixture.java
  backend/src/test/java/com/celuveat/celuveat/video/fixture/VideoHistoryFixture.java
Labels: 🌱 backend, 🐞 bug

#107 Fix: 파일명 변경이 적용되지 않아 발생한 에러 해결
  frontend/src/components/@common/SearchBar/SearchBarDropDown.stories.tsx
  frontend/src/components/@common/SearchBar/SearchBarDropDown.tsx
  frontend/src/components/@common/SearchBar/SearchBarInput.tsx
  frontend/src/components/@common/SearchBar/SearchBarSelectBox.tsx
  frontend/src/components/@common/SearchBar/hooks/useSearchBarRef.tsx
  frontend/src/components/@common/SearchBar/index.tsx
Labels: 🍔 frontend, 🐞 bug

#120 fix: 폴더 중복 생성 오류
  frontend/src/components/@common/SearchBar/SearchBarSelectBox.tsx
  frontend/src/components/@common/Searchbar/SearchbarDropDown.stories.tsx
  frontend/src/components/@common/Searchbar/SearchbarDropDown.tsx
  frontend/src/components/@common/Searchbar/SearchbarInput.tsx
  frontend/src/components/@common/Searchbar/SearchbarSelectBox.tsx
  frontend/src/components/@common/Searchbar/hooks/useSearchbarRef.tsx
  frontend/src/components/@common/Searchbar/index.tsx
Labels: 🍔 frontend, 🐞 bug

#116 114 bug storybookreact 가 devdependencies dependencies 둘 다 적혀져있는 오류
  frontend/package.json
Labels: 🍔 frontend, ✨ feat, 🐞 bug

#92 chore: msw 초기환경 세팅
  frontend/.eslintrc
  frontend/.webpack/webpack.dev.js
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/yarn.lock
Labels: 🍔 frontend, ⚙ chore

#132 feat: 기본 도메인들을 생성한다
  backend/src/main/java/com/celuveat/celeb/domain/Celeb.java
  backend/src/main/java/com/celuveat/celeb/domain/CelebRepository.java
  backend/src/main/java/com/celuveat/common/config/JpaConfig.java
  backend/src/main/java/com/celuveat/common/domain/BaseEntity.java
  backend/src/main/java/com/celuveat/common/exception/BaseException.java
  backend/src/main/java/com/celuveat/common/exception/BaseExceptionType.java
  backend/src/main/java/com/celuveat/common/exception/ExceptionControllerAdvice.java
  backend/src/main/java/com/celuveat/common/exception/ExceptionResponse.java
  backend/src/main/java/com/celuveat/restaurant/domain/Restaurant.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantImage.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantImageRepository.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantRepository.java
  backend/src/main/java/com/celuveat/restaurant/domain/SocialMedia.java
  backend/src/main/java/com/celuveat/video/domain/Video.java
  backend/src/main/java/com/celuveat/video/domain/VideoRepository.java
Labels: 🌱 backend, ✨ feat

#125 chore: style-lint 설정
  frontend/.stylelintrc
  frontend/.vscode/settings.json
  frontend/package.json
  frontend/src/components/@common/Button/TextButton.stories.tsx
  frontend/src/components/@common/Button/TextButton.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/components/@common/ProfileImage/ProfileImage.tsx
  frontend/src/components/@common/SearchBar/SearchBarInput.tsx
  frontend/src/components/@common/SearchBar/SearchBarSelectBox.tsx
  frontend/src/components/CelebBanner/CelebBanner.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/VideoPreview/VideoPreview.tsx
  frontend/src/styles/base.ts
  frontend/src/styles/common.ts
  frontend/src/styles/fonts.ts
  frontend/src/styles/reset.ts
  frontend/yarn.lock
Labels: 🍔 frontend, ⚙ chore, 💎 style

#127 chore: react-testing-library 설치 및 설정
  frontend/.eslintrc
  frontend/jest.config.js
  frontend/package.json
Labels: 🍔 frontend, ⚙ chore

#123 feat: 레스토랑 카드 수정된 디자인 반영 (#122)
  frontend/.storybook/main.ts
  frontend/.stylelintrc
  frontend/src/components/@common/Button/TextButton.stories.tsx
  frontend/src/components/@common/Button/TextButton.tsx
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/components/@common/ProfileImage/ProfileImage.tsx
  frontend/src/components/@common/SearchBar/SearchBarInput.tsx
  frontend/src/components/@common/SearchBar/SearchBarSelectBox.tsx
  frontend/src/components/CelebBanner/CelebBanner.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.stories.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/VideoPreview/VideoPreview.tsx
  frontend/src/styles/reset.ts
  frontend/yarn.lock
Labels: 🍔 frontend, ✨ feat, 🎨 design

#138 feat: footer 구현
  frontend/src/assets/icons/github.svg
  frontend/src/assets/icons/instagram.svg
  frontend/src/components/@common/Footer/Footer.stories.tsx
  frontend/src/components/@common/Footer/Footer.tsx
  frontend/src/components/@common/Footer/index.tsx
Labels: 🍔 frontend, ✨ feat

#142 infra: 백엔드 cicd 환경 설정
  .github/workflows/backend-ci.yml
  .github/workflows/backend-dev-cd.yml
  backend/src/main/java/com/celuveat/restaurant/application/dto/RestaurantQueryResponse.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantFixture.java
  backend/src/test/resources/application.yml
Labels: 🌱 backend, 🌏 infra

#146 feat: /api prefix 추가
  backend/src/main/resources/application.yml
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/resources/application.yml
Labels: 🌱 backend, ✨ feat

#144 143 infra 프론트엔드 cicd 셋팅
  .github/ISSUE_TEMPLATE/🌱-백엔드-feature.md
  .github/ISSUE_TEMPLATE/🍔-프론트엔드-feature.md
  .github/ISSUE_TEMPLATE/🐞-bug.md
  .github/pull_request_template.md
  .github/workflows/frontend-ci.yml
  .github/workflows/frontend-dev-cd.yml
  frontend/src/utils/formatDateToKorean.ts
Labels: 🍔 frontend, 🌏 infra

#150 feat: 메인페이지 구현
  frontend/.stylelintrc
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.dev.js
  frontend/package.json
  frontend/src/@types/api.types.ts
  frontend/src/@types/celeb.types.ts
  frontend/src/@types/celebs.types.ts
  frontend/src/@types/global.d.ts
  frontend/src/@types/map.types.ts
  frontend/src/@types/restaurant.types.ts
  frontend/src/App.tsx
  frontend/src/assets/icons/exit.svg
  frontend/src/components/@common/Footer/Footer.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Map/Map.stories.tsx
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/Map/hooks/useCreateMap.ts
  frontend/src/components/@common/ProfileImage/ProfileImage.tsx
  frontend/src/components/@common/SearchBar/SearchBarDropDown.stories.tsx
  frontend/src/components/@common/SearchBar/SearchBarDropDown.tsx
  frontend/src/components/@common/SearchBar/SearchBarInput.tsx
  frontend/src/components/@common/SearchBar/SearchBarSelectBox.tsx
  frontend/src/components/@common/SearchBar/hooks/useSearchBarRef.tsx
  frontend/src/components/@common/SearchBar/index.tsx
  frontend/src/components/MapModal/MapModal.stories.tsx
  frontend/src/components/MapModal/MapModal.tsx
  frontend/src/components/MapModal/index.tsx
  frontend/src/components/MapModalContent/MapModalContent.tsx
  frontend/src/components/MapModalContent/index.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.stories.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/hooks/useMapModal.ts
  frontend/src/index.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/MainPage.tsx
Labels: 🍔 frontend, ✨ feat

#162 feat: google map 지도로 변경
  frontend/.storybook/main.ts
  frontend/package.json
  frontend/public/index.html
  frontend/src/@types/api.types.ts
  frontend/src/@types/map.types.ts
  frontend/src/@types/restaurant.types.ts
  frontend/src/App.tsx
  frontend/src/components/@common/Map/Map.stories.tsx
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/Map/hooks/useCreateMap.ts
  frontend/src/components/@common/Map/hooks/useDrawMap.ts
  frontend/src/components/@common/Map/hooks/useMarker.ts
  frontend/src/components/RestaurantCard/RestaurantCard.stories.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/MainPage.tsx
  frontend/yarn.lock
Labels: 🍔 frontend, ✨ feat

#157 fix: frontend cd 파일 오타 에러 수정
  .github/workflows/frontend-dev-cd.yml
Labels: 🍔 frontend, 🐞 bug

#166 fix: 이미지를 base64로 인코딩하여 전달한다
  backend/build.gradle
  backend/src/main/java/com/celuveat/common/util/Base64Util.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/RestaurantImageQueryResponse.java
Labels: 🌱 backend, 🐞 bug

#168 feat: google map 보강
  frontend/src/App.tsx
  frontend/src/components/@common/Map/Map.stories.tsx
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/Map/MapContent.tsx
  frontend/src/components/@common/Map/Overlay/Overlay.tsx
  frontend/src/components/@common/Map/Overlay/domain/createOverlay.ts
  frontend/src/components/@common/Map/Overlay/index.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/Map/hooks/useCreateMap.ts
  frontend/src/components/@common/Map/hooks/useDrawMap.ts
  frontend/src/components/@common/Map/hooks/useMap.ts
  frontend/src/components/@common/Map/hooks/useMarker.ts
  frontend/src/components/@common/ProfileImage/ProfileImage.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/pages/MainPage.tsx
Labels: 🍔 frontend, ✨ feat, 🔥 refactor

#159 feat: 지역 기반 음식점 검색 기능 구현
  backend/src/main/java/com/celuveat/common/util/DynamicQueryUtil.java
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/application/dto/RestaurantQueryResponse.java
  backend/src/main/java/com/celuveat/restaurant/domain/Restaurant.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantQueryRepository.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
  backend/src/test/java/com/celuveat/common/SeedData.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantQueryServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/domain/RestaurantQueryRepositoryTest.java
  backend/src/test/java/com/celuveat/restaurant/fixture/LocationFixture.java
  backend/src/test/java/com/celuveat/restaurant/fixture/RestaurantFixture.java
Labels: 🌱 backend, ✨ feat

#140 feat: 로딩 컴포넌트 및 스켈레톤 구현
  frontend/src/assets/icons/celuveat_cel.svg
  frontend/src/assets/icons/celuveat_eat.svg
  frontend/src/assets/icons/celuveat_luv.svg
  frontend/src/components/@common/LoadingDots/LoadingDots.stories.tsx
  frontend/src/components/@common/LoadingDots/LoadingDots.tsx
  frontend/src/components/@common/LoadingDots/index.tsx
  frontend/src/components/@common/LoadingIndicator/LoadingIndicator.stories.tsx
  frontend/src/components/@common/LoadingIndicator/LoadingIndicator.tsx
  frontend/src/components/@common/LoadingIndicator/index.tsx
  frontend/src/components/@common/Skeleton/Skeleton.stories.tsx
  frontend/src/components/@common/Skeleton/Skeleton.tsx
  frontend/src/components/@common/Skeleton/index.tsx
  frontend/src/styles/common.ts
Labels: 🍔 frontend, ✨ feat, 🎨 design

#176 feat: 리스트와 지도 바운더리 내의 레스토랑 연동 기능 구현
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/MapModalContent/MapModalContent.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/MainPage.tsx
Labels: 🍔 frontend, ✨ feat

#155 fix: react testing library 사용 시 에러 이미지 import 시 에러 발생
  frontend/.eslintrc
  frontend/fileTransformer.js
  frontend/jest.config.js
Labels: 🍔 frontend, 🐞 bug

#179 feat: CelebDropDown, NavButton 컴포넌트 기능 구현
  frontend/src/@types/celeb.types.ts
  frontend/src/@types/restaurant.types.ts
  frontend/src/assets/icons/fastFood.svg
  frontend/src/assets/icons/search.svg
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/NavButton/NavButton.stories.tsx
  frontend/src/components/@common/NavButton/NavButton.tsx
  frontend/src/components/@common/NavButton/index.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.stories.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.tsx
  frontend/src/components/CategoryNavbar/index.tsx
  frontend/src/components/CelebDropDown/CelebDropDown.stories.tsx
  frontend/src/components/CelebDropDown/CelebDropDown.tsx
  frontend/src/components/CelebDropDown/index.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/utils/compare.ts
  frontend/temp
Labels: 🍔 frontend, ✨ feat

#173 feat: 소셜 로그인 구현
  backend/build.gradle
  backend/src/main/java/com/celuveat/CeluveatApplication.java
  backend/src/main/java/com/celuveat/auth/application/OauthService.java
  backend/src/main/java/com/celuveat/auth/config/AdminWebConfig.java
  backend/src/main/java/com/celuveat/auth/domain/OauthId.java
  backend/src/main/java/com/celuveat/auth/domain/OauthMember.java
  backend/src/main/java/com/celuveat/auth/domain/OauthMemberRepository.java
  backend/src/main/java/com/celuveat/auth/domain/OauthServerType.java
  backend/src/main/java/com/celuveat/auth/domain/authcode/AuthCodeRequestUrlProvider.java
  backend/src/main/java/com/celuveat/auth/domain/authcode/AuthCodeRequestUrlProviderComposite.java
  backend/src/main/java/com/celuveat/auth/domain/client/OauthMemberClient.java
  backend/src/main/java/com/celuveat/auth/domain/client/OauthMemberClientComposite.java
  backend/src/main/java/com/celuveat/auth/exception/AuthException.java
  backend/src/main/java/com/celuveat/auth/exception/AuthExceptionType.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/config/HttpInterfaceConfig.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/google/GoogleMemberClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/google/GoogleOauthConfig.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/google/authcode/GoogleAuthCodeRequestUrlProvider.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/google/client/GoogleApiClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/google/dto/GoogleMemberResponse.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/google/dto/GoogleToken.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/KakaoMemberClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/KakaoOauthConfig.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/authcode/KakaoAuthCodeRequestUrlProvider.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/client/KakaoApiClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/dto/KakaoMemberResponse.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/dto/KakaoToken.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/naver/NaverMemberClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/naver/NaverOauthConfig.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/naver/authcode/NaverAuthCodeRequestUrlProvider.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/naver/client/NaverApiClient.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/naver/dto/NaverMemberResponse.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/naver/dto/NaverToken.java
  backend/src/main/java/com/celuveat/auth/presentation/OauthController.java
  backend/src/main/java/com/celuveat/auth/presentation/OauthServerConverter.java
  backend/src/main/java/com/celuveat/member/domain/Member.java
  backend/src/main/java/com/celuveat/member/domain/MemberRepository.java
  backend/src/main/resources/application-dev.yml
  backend/src/test/resources/application.yml
Labels: 🌱 backend, ✨ feat

#182 fix: oauth 버그 해결
  backend/src/main/java/com/celuveat/auth/infra/oauth/kakao/authcode/KakaoAuthCodeRequestUrlProvider.java
  backend/src/main/java/com/celuveat/auth/infra/oauth/naver/authcode/NaverAuthCodeRequestUrlProvider.java
  backend/src/main/resources/application-dev.yml
Labels: 🌱 backend, 🐞 bug

#174 feat: 음식점 조회 시 페이징을 적용한다
  backend/src/main/java/com/celuveat/common/PageResponse.java
  backend/src/main/java/com/celuveat/common/query/DynamicQuery.java
  backend/src/main/java/com/celuveat/common/query/DynamicQueryAssembler.java
  backend/src/main/java/com/celuveat/common/query/DynamicQueryCondition.java
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantQueryRepository.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceSteps.java
  backend/src/test/java/com/celuveat/restaurant/application/RestaurantQueryServiceTest.java
  backend/src/test/java/com/celuveat/restaurant/domain/RestaurantQueryRepositoryTest.java
Labels: 🌱 backend, ✨ feat

#190 feat: 셀럽 및 카테고리 별 필터링 기능 구현
  frontend/.eslintrc
  frontend/src/@types/global.d.ts
  frontend/src/@types/map.types.ts
  frontend/src/@types/restaurant.types.ts
  frontend/src/assets/icons/celeb.svg
  frontend/src/assets/icons/left-bracket.svg
  frontend/src/assets/icons/restaurantCategory/ijakaya.svg
  frontend/src/assets/icons/restaurantCategory/japanese.svg
  frontend/src/assets/icons/restaurantCategory/korean.svg
  frontend/src/assets/icons/restaurantCategory/meat.svg
  frontend/src/assets/icons/restaurantCategory/pasta.svg
  frontend/src/assets/icons/restaurantCategory/pig.svg
  frontend/src/assets/icons/restaurantCategory/pub.svg
  frontend/src/assets/icons/restaurantCategory/sashimi.svg
  frontend/src/assets/icons/restaurantCategory/sushi.svg
  frontend/src/assets/icons/restaurantCategory/wine.svg
  frontend/src/assets/icons/right-bracket.svg
  frontend/src/assets/logo.png
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/NavButton/NavButton.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.stories.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.tsx
  frontend/src/components/CelebDropDown/CelebDropDown.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/constants/celebs.ts
  frontend/src/constants/restaurantCategory.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/utils/getQueryString.ts
Labels: 🍔 frontend, ✨ feat, 🎨 design

#186 feat: 음식점 리스트 중복 필터링 기능 구현
  frontend/src/components/@common/NavButton/NavButton.stories.tsx
  frontend/src/components/@common/NavButton/NavButton.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.tsx
  frontend/src/components/CelebDropDown/CelebDropDown.tsx
  frontend/src/constants/celebs.ts
  frontend/src/constants/restaurantCategory.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/utils/getQueryString.ts
Labels: 🍔 frontend, ✨ feat

#191 feat: oauth 로그인 이후 세션 정보 반환
  backend/src/main/java/com/celuveat/auth/presentation/OauthController.java
  backend/src/main/java/com/celuveat/auth/presentation/SessionResponse.java
  backend/src/main/java/com/celuveat/common/auth/AuthConstant.java
  backend/src/main/java/com/celuveat/common/exception/ExceptionControllerAdvice.java
  backend/src/main/java/com/celuveat/restaurant/presentation/RestaurantController.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/LocationSearchCondRequest.java
  backend/src/main/java/com/celuveat/restaurant/presentation/dto/RestaurantSearchCondRequest.java
  backend/src/test/java/com/celuveat/acceptance/common/AcceptanceSteps.java
  backend/src/test/java/com/celuveat/acceptance/restaurant/RestaurantAcceptanceTest.java
Labels: 🌱 backend, ✨ feat

#196 design: 전체 카테고리 아이콘 추가
  frontend/src/assets/all.png
  frontend/src/assets/icons/restaurantCategory/all.svg
  frontend/src/components/@common/ProfileImage/ProfileImage.tsx
  frontend/src/constants/celebs.ts
  frontend/src/constants/restaurantCategory.tsx
Labels: 🍔 frontend, 🎨 design

#207 refactor: polishing
  backend/src/main/java/com/celuveat/admin/application/AdminService.java
  backend/src/main/java/com/celuveat/auth/application/OauthService.java
  backend/src/main/java/com/celuveat/common/query/DynamicQueryAssembler.java
  backend/src/main/java/com/celuveat/restaurant/application/RestaurantQueryService.java
  backend/src/main/java/com/celuveat/restaurant/domain/RestaurantQueryRepository.java
Labels: 🌱 backend, 🔥 refactor, 💎 style

#198 feat: 레스토랑 카드 및 마커 클릭 이벤트 변경
  frontend/src/App.tsx
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/Map/Overlay/Overlay.tsx
  frontend/src/components/@common/Map/OverlayMarker.tsx
  frontend/src/components/@common/ProfileImage/ProfileImage.stories.tsx
  frontend/src/components/@common/ProfileImage/ProfileImage.tsx
  frontend/src/components/CategoryNavbar/CategoryNavbar.tsx
  frontend/src/components/CelebBanner/CelebBanner.tsx
  frontend/src/components/CelebDropDown/CelebDropDown.tsx
  frontend/src/components/MapModalContent/MapModalContent.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.stories.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/VideoPreview/VideoPreview.tsx
  frontend/src/hooks/useOnClickOutside.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/styles/base.ts
  frontend/src/utils/getQuadrant.ts
Labels: 🍔 frontend, ✨ feat

#202 feat: 레스토랑 카드에 loading 상태 추가 및 skeleton 반영
  frontend/src/@types/api.types.ts
  frontend/src/components/@common/LoadingDots/LoadingDots.tsx
  frontend/src/components/@common/Map/Map.tsx
  frontend/src/components/@common/ProfileImage/ProfileImageSkeleton.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/RestaurantCard/RestaurantCardSkeleton.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardListSkeleton.tsx
  frontend/src/components/RestaurantCardList/index.tsx
  frontend/src/hooks/useOnClickOuside.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/styles/common.ts
Labels: 🍔 frontend, ✨ feat

#205 feat: 음식점 카드에 필요한 컴포넌트 추가
  frontend/src/@types/image.type.ts
  frontend/src/assets/icons/love.svg
  frontend/src/components/@common/ImageCarousel/ImageCarousel.stories.tsx
  frontend/src/components/@common/ImageCarousel/ImageCarousel.tsx
  frontend/src/components/@common/ImageCarousel/index.tsx
  frontend/src/components/@common/ProfileImageList/ProfileImageList.stories.tsx
  frontend/src/components/@common/ProfileImageList/ProfileImageList.tsx
  frontend/src/components/@common/ProfileImageList/index.tsx
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.stories.tsx
  frontend/src/components/@common/WaterMarkImage/WaterMarkImage.tsx
  frontend/src/components/@common/WaterMarkImage/index.tsx
  frontend/src/components/RestaurantCard/RestaurantCard.tsx
  frontend/src/components/RestaurantCardList/RestaurantCardList.tsx
Labels: 🍔 frontend, ✨ feat, 🎨 design

#212 refactor: react query, zustand, axios 설치
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/hooks/useFetch.ts
  frontend/src/hooks/useOnClickOuside.ts
  frontend/src/index.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/utils/getQueryString.ts
  frontend/yarn.lock
Labels: 🍔 frontend, ⚙ chore
